/*
 {$BRAND_NAME`}
 Copyright (c) ocProducts, 2004-2022
*/

/* Style overrides (NB: it is reasonable to assume global.css ran before this, so precedence here is automatic) */

html>body#main-website {
	background: {$GET,area_5_background} !important;
}

header {
	background-color: {$GET,area_text};
	color: {$GET,WB};
	margin-bottom: 1em;
	{$BETA_CSS_PROPERTY,display: flex;}
	border-bottom: none;
	position: relative;
}

.logo {
	align-self: center;
	margin: 0 25px;
	display: none;
}

.logo-image {
	max-height: 100%;
}

/*{+START,CSS_MODE,large_desktop}*/
	.logo {
		display: block;
	}
/*{+END}*/

.logo .logo-link {
	font-size: 20px;
	color: white;
	height: 82px;
}

.logo .logo-link:hover {
	text-decoration: none;
}

/*{+START,CSS_MODE,desktop}*/
	.admin-navigation {
		flex-grow: 1;
		max-width: {$GET,max_container_width};
	}

	.admin-navigation-inner {
		display: none;
	}
/*{+END}*/
/*{+START,CSS_MODE,mobile}*/
	.admin-navigation {
		color: {$GET,WB};
	}

	.admin-navigation-inner {
		overflow: hidden;
		margin-left: 8em !important; /* Space for the menu button, which is position:absolute */
	}

	.admin-navigation-inner span {
		float: right;
		margin: 0.75em;
		font-size: 1.2em;
	}
/*{+END}*/

#main-website #main-website-inner {
	border: 0;
	box-shadow: none;
}

body#main-website #main-website-inner, html>body div.global-middle-faux {
	background-color: transparent;
}

/*{+START,CSS_MODE,mobile}*/
	.global-messages {
		padding-left: 2px;
		padding-right: 2px;
	}
/*{+END}*/

.global-messages .box---message {
	/*background-image: none !important;*/
	/*background-color: #FFF !important;*/
	/*border-color: #bdcde6 !important;*/
	margin-top: 0;
}

.box---message .global-message {
	margin-top: 0;
	margin-bottom: 0.75em;
}

.box---message .global-message > span,
.box---message .global-message > p {
	padding-top: 0;
}

/*{+START,IF,{$NEQ,{$THEME_OPTION,fixed_width},1}}*/
	.global-breadcrumbs {
		padding: 4px 0 7px 0;
	}
/*{+END}*/

#panel-left {
	margin-left: 0;
}

#panel-right {
	margin-right: 0;
}

.page-running-login #main-website-inner {
	background-image: none !important;
}

footer .global-minilinks {
	padding-top: 0.6em;
}

/* Admin Zone styles */

.menu-help-section {
	max-width: none !important;
	border-bottom-left-radius: 10px;
}

.adminzone-search {
	padding: 0.7em 1em;
	white-space: nowrap;
}

.adminzone-search input {
	vertical-align: middle;
}

.adminzone-search .buttons--search {
	margin-right: 5px;
}

/*{+START,CSS_MODE,mobile}*/
	.adminzone-search .help {
		display: none !important;
	}
/*{+END}*/

/*
=========================
========Revisions========
=========================
*/

.revisions-filter-item {
	margin: 0 5% 0.5em 0;
	float: left;
	min-height: 4em;
}
/*{+START,CSS_MODE,desktop}*/
	.revisions-filter-item {
		width: 15%;
	}
/*{+END}*/
/*{+START,CSS_MODE,mobile}*/
	.revisions-filter-item {
		width: 40%;
	}
/*{+END}*/

.revisions-filter-item-button {
	margin: 0.75em 0.5em 0 0;
	float: right;
}

/*
=========================
========SVG Sprites======
=========================
*/
.preview-svg-sprite-icon {
	float: left;
	text-align: center;
	padding: 20px;
	margin: 10px;
	border: 1px solid;
}

.preview-svg-sprite-icon .icon {
	color: {$GET,seed};
}
