/*
 {$BRAND_NAME`}
 Copyright (c) Christopher Graham, 2004-2024
*/

.not-too-tall-addons {
	/*overflow: scroll;	Actually, this annoys some users
	height: 500px;*/
	margin-bottom: 15px;
}

.addon-name {
	border-bottom: 2px dotted {$GET,dark_border};
	display: inline-block;
	cursor: pointer;
}

.addon-actions {
	white-space: nowrap;
	line-height: normal;
}

.addon-actions > * {
	vertical-align: middle;
}

.status-green, td.bundled {
	color: {$GET,green_highlight_text} !important;
}

.status-orange, td.non_bundled {
	color: {$GET,orange_highlight_text} !important;
}

.status-red, td.non_bundled {
	color: {$GET,red_highlight_text} !important;
}
