/*
 {$BRAND_NAME`}
 Copyright (c) Christopher Graham, 2004-2024
*/

/*{+START,CSS_MODE,desktop}*/
	.award-extra-details {
		float: left;
	}

	.award-extra-details {
		width: 200px;
	}

	.award-main {
		border-left: 1px solid {$GET,standard_border};
		padding-left: 2em;
		margin-left: 220px;
	}
/*{+END}*/
