/*
 {$BRAND_NAME`}
 Copyright (c) Christopher Graham, 2004-2024
*/

.banner-wrap {
	display: inline-block;
}

.banner-wrap + .banner-wrap {
	margin: 0 0 0 1em;
}

.global-side-panel .banner-wrap {
	margin: 1em 0 1em 0 !important;
	display: block;
	text-align: center;
}
