/*
 {$BRAND_NAME`}
 Copyright (c) Christopher Graham, 2004-2024
*/

.comcode-big-tab-controller {
	float: left;
	width: 186px;
}

.comcode-big-tab-controller a {
	display: block;
	height: 35px;
	outline: 0;
	font-weight: bold;
	line-height: 35px;
	padding-left: 12px !important;
	margin-bottom: 2px !important;
	background-size: 186px 41px !important;
}

.big-tab-inactive a {
	background: url('{$IMG_INLINE;,big_tabs/controller_button}') no-repeat !important;
}

.big-tab-active a, .big-tab-inactive a:hover {
	background: url('{$IMG_INLINE;,big_tabs/controller_button_active}') no-repeat !important;
}

.big-tab-inactive:not(.big-tab-first), .big-tab-active:not(.big-tab-first) {
	margin-top: 10px;
}

.comcode-big-tab {
	border: 2px solid {$GET,pale_border};
	background-color: {$GET,area_background};
}
/*{+START,CSS_MODE,mobile}*/
	.comcode-big-tab {
		float: left;
		margin: 0;
	}
/*{+END}*/
/*{+START,CSS_MODE,desktop}*/
	.comcode-big-tab {
		margin-left: 186px;
		min-height: 190px;
	}
/*{+END}*/
