/*
 {$BRAND_NAME`}
 Copyright (c) Christopher Graham, 2004-2024
*/

/*{+START,CSS_MODE,mobile}*/
	.calendar-week th, .calendar-month th, .calendar-day th {
		min-height: 9em;
		vertical-align: bottom;
	}
	.calendar-week th.calendar-week-hour, .calendar-week th a, .calendar-month th a, .calendar-day th a, .calendar-week th span, .calendar-month th span, .calendar-day th span {
		writing-mode: tb-rl;
	}

	.calendar-week th, .calendar-week td {
		text-align: center;
	}
/*{+END}*/

abbr.dtstart, abbr.dtend {
	border-bottom: 0;
}

/*
=========================
=========Yearly==========
=========================
*/

.calendar-year-wrap {
	border-collapse: collapse;
}

/*{+START,CSS_MODE,mobile}*/
	.calendar-year-wrap, .calendar-year-wrap > tbody, .calendar-year-wrap > tbody > tr, .calendar-year-wrap > tbody > tr > td {
		display: block;
	}

	.calendar-year-wrap > tbody > tr > .fake-th {
		display: none;
	}

	.calendar-year-wrap > tbody > tr > td {
		overflow: hidden;
		border: 0;
	}
/*{+END}*/

.calendar-year-month {
	vertical-align: top;
	text-align: center;
	padding: 0.5em;
}
/*{+START,CSS_MODE,desktop}*/
	.calendar-year-month {
		width: 33%;
		height: 150px;
	}
/*{+END}*/

.calendar-year-month table {
	border-collapse: collapse;
	width: 100%;
	table-layout: fixed !important;
}

.calendar-year-month th {
	width: 33%;
}

.calendar-year-month th, .calendar-year-month-table .day-spacer, .calendar-year-month-day {
	width: {$DIV_FLOAT,100,7}%;
}

.calendar-year-month-table .day-spacer,
.calendar-year-month-day {
	height: 1.8em;
	border: 1px solid {$GET,pale_border};
}

.calendar-year-month-day {
	text-align: center;
}

.calendar-year-month-day div {
	display: inline;
	width: 100%;
	height: 30px;
}

.calendar-year-month-day-num-events {
	background: {$GET,tooltip_background};
	color: {$GET,WB};
	padding: 0 2px;
	font-size: 0.8em;
}


/*
=========================
=========Monthly=========
=========================
*/

.calendar-month {
	width: 100%;
	border-collapse: collapse;
	table-layout: fixed !important;
}

.calendar-month th {
	font-size: 0.9em;
	border: 1px solid {$GET,box_title_background}; /* Obscures border */
	padding: 1em 0;
	vertical-align: middle;
}

.calendar-month-entry {
	display: inline;
	width: 100%;
	height: 2em;
}

.calendar-month-day {
	height: 6em;
}

.calendar-month-day div {
	z-index: 10;
	float: right;
}

.calendar-month-column-heading {
	width: 7%;
}
.calendar-month-column-day {
	width: 13%;
}

/*
=========================
=========Weekly==========
=========================
*/

.calendar-week {
	width: 100%;
	border-collapse: collapse;
}

.calendar-week th {
	border: 1px solid {$GET,box_title_background}; /* Obscures border */
}

.calendar-week-hour { /* Left-most column */
	width: 8em;
	height: 3em;
	vertical-align: middle;
}

/*
=========================
==========Day============
=========================
*/

.calendar-day-table {
	width: 100%;
	border-collapse: collapse;
}

.calendar-day-table th {
	width: 8em;
	height: 3em;
	vertical-align: middle;
}

.calendar-day-entry {
	width: 100%;
	height: 100%;
}

.calendar-day-entry-time {
	display: block;
}

.calendar-day-entry-description {
	padding-top: 2em;
}

.calendar-day-icon {
	float: left;
	margin-right: 0.5em;
}

.calendar-day-priority {
	margin-right: 0.5em;
}

/*{+START,CSS_MODE,desktop}*/
	.calendar-day-priority {
		float: right;
	}
/*{+END}*/

.calendar-day-entry-title {
	font-weight: bold;
}

.calendar-day-entry-time {
	font-size: 0.8em;
}

/*
=========================
===Main screen global====
=========================
*/

.calendar-top-navigation {
	margin-left: 1px;
	margin-bottom: 1em;
	padding-left: 1px; /* To compensate for -1px offset on calendar-date-span-link-inner */
	overflow: hidden;
}

.calendar-date-span-link {
	float: left;
	width: 25%;
	text-align: center;
}

.calendar-date-span-link-inner {
	border: 1px solid {$GET,standard_border};
	background: {$GET,area_5_background};
	color: {$GET,area_key_text};
	padding: 0.3em;
	margin-left: -1px; /* To stop the double borders at join points */
	padding: 0.5em 0;
	min-height: 1.3em;
}

.calendar-date-span-link.current > .calendar-date-span-link-inner {
	background: {$GET,area_current_background};
}

.calendar-date-span-link:first-child .calendar-date-span-link-inner {
	border-top-left-radius: 5px;
	border-bottom-left-radius: 5px;
}
.calendar-date-span-link:last-child .calendar-date-span-link-inner {
	border-top-right-radius: 5px;
	border-bottom-right-radius: 5px;
}

.calendar-date-span-link-inner > span {
	font-weight: bold;
}

.box---calendar-main-screen-interests {
	margin-top: 2em;
}

/*{+START,CSS_MODE,desktop}*/
	.event-interest-box {
		width: 50%;
		padding: 0.5em;
	}
/*{+END}*/
/*{+START,CSS_MODE,mobile}*/
	.event-interest-box {
		float: none;
		margin-bottom: 0.5em;
	}
/*{+END}*/

.calendar-main-page-hidden-data {
	margin: 0.5em;
	border-top: 1px solid {$GET,standard_border};
}

/*
=========================
==Misc calendar tables===
=========================
*/

.side-calendar .calendar-priority-na,
.side-calendar .calendar-priority-1,
.side-calendar .calendar-priority-2,
.side-calendar .calendar-priority-3,
.side-calendar .calendar-priority-4,
.side-calendar .calendar-priority-5,
.side-calendar .calendar-priority-free-time,
.side-calendar .calendar-free-time,
.side-calendar .calendar-active {
	padding: 0.5em 0.2em;
}
/*{+START,CSS_MODE,desktop}*/
	.side-calendar .calendar-priority-na,
	.side-calendar .calendar-priority-1,
	.side-calendar .calendar-priority-2,
	.side-calendar .calendar-priority-3,
	.side-calendar .calendar-priority-4,
	.side-calendar .calendar-priority-5,
	.side-calendar .calendar-priority-free-time,
	.side-calendar .calendar-free-time,
	.side-calendar .calendar-active {
		font-size: 0.8em; /* On mobile we don't display in a side panel so actually there is more width - plus we want bigger cells for fat fingers */
	}
/*{+END}*/

.calendar-priority-na,
.calendar-priority-1,
.calendar-priority-2,
.calendar-priority-3,
.calendar-priority-4,
.calendar-priority-5,
.calendar-priority-free-time,
.calendar-free-time,
.calendar-active {
	padding: 0.5em;
}

.calendar-day-table th, .calendar-year-month th {
	border: 1px solid {$GET,box_title_background}; /* Matches border above, but uses bg-color so invisible */
}

/* The following classes are for the varying degrees of priority that
	certain calendar events can hold. These can be used if, for example, you
	want to design higher priority events to have a darker background or an
	image. 1 is the highest priority, with 5 being the lowest. */

.calendar-priority-na {
}

.calendar-priority-1 {
}

.calendar-priority-2 {
}

.calendar-priority-3 {
}

.calendar-priority-4 {
}

.calendar-priority-5 {
}

.calendar-free-time {
}

.calendar-free-time-hourly {  /* for free time in a given hour, as opposed to .calendar-free-time, which manages free time in a month, week, or year */
}

/* -- */

.calendar-current {
	background-color: {$GET,area_current_background} !important;
}

.calendar-day-table td, .calendar-week td, .calendar-month td, .calendar-year-wrap td {
	border: 1px solid {$GET,standard_border};
}

.calendar-day-table td:hover, .calendar-week td:hover, .calendar-month td:hover, .calendar-year-month-table td:hover {
	color: {$GET,area_key_text};
	background-color: {$GET,area_hover_2_background};
}
td.day-spacer:hover {
	background-color: transparent !important;
}

.calendar-multiple {
	background-color: {$GET,red_highlight_background};
}

/*
=========================
======View event=========
=========================
*/

.no-description {
	font-style: italic;
	text-align: center;
}

.event-subscriptions {
	margin: 1em 0;
	padding: 0;
	overflow: hidden;
}

/*{+START,CSS_MODE,desktop}*/
	.event-right {
		float: right;
		width: 15em;
	}
	.event-right .ratings {
		width: auto;
		float: none;
	}

	.event-left {
		margin-right: 16em;
	}

	.event-subscriptions > li {
		font-size: 0.9em;
		vertical-align: middle;
	}
/*{+END}*/

.event-left .box, .event-right .box {
	margin-top: 0;
}

.event-right .trackbacks {
	width: auto;
}

/*{+START,CSS_MODE,mobile}*/
	.event-right {
		float: left;
		width: 100%;
	}

	.event-left {
		float: left;
		width: 100%;
		margin: 1em 0;
	}

	.event-subscriptions > li {
		font-size: 0.95em;
		vertical-align: middle;
		margin-right: 6px;
	}
/*{+END}*/

.event-type-image {
	float: left;
	margin-right: 0.5em;
}

/*
=========================
=========Block===========
=========================
*/

.side-calendar-wrap {
	overflow-x: hidden;
}

.side-calendar {
	border-collapse: collapse;
}

.side-calendar th {
	border: 1px solid {$GET,pale_border};
}

.calendar-weekly-column {
	width: 14.29%;
}

.event-listing-col-1 {
	width: 32px;
}
.global-side-panel .event-listing-col-1 {
	width: 28px;
}

.event-listing-col-2 {
	width: 6em;
}
.global-side-panel .event-listing-col-2 {
	width: 4em;
}

.event-listing-col-3 {
}

.events-listing-table th, .events-listing-table td {
	vertical-align: middle;
}

.global-side-panel .events-listing-table th {
	padding: 0;
}
.global-side-panel .events-listing-table th img {
	width: 23px;
}

.event-listing-day {
	text-decoration: underline;
	font-weight: bold;
	font-size: 1.1em;
}

.side-calendar .calendar-year-month-day {
	background-color: {$GET,area_background};
}
