/*
 {$BRAND_NAME`}
 Copyright (c) Christopher Graham, 2004-2024
*/

.carousel {
	overflow: hidden;
	white-space: nowrap !important;
	position: relative;
	{$BETA_CSS_PROPERTY,display: flex;}
	padding-top: 10px;
}

.carousel-temp {
	white-space: nowrap !important;
}

.carousel .img-thumb {
	max-width: 140px;
}

.carousel .move-left,
.carousel .move-right {
	{$BETA_CSS_PROPERTY,display: flex;}
	align-items: center;
	position: relative;
}

.carousel .move-left .icon ,
.carousel .move-right .icon {
	width: 16px;
	height: 16px;
}

.carousel .move-left:hover .icon ,
.carousel .move-right:hover .icon {
	filter: brightness(1.4);
}

.carousel .move-left {
	padding-right: 5px;
	border-right: 1px dotted {$GET,standard_border};
}

.carousel .move-left::after {
	content: '';
	position: absolute;
	width: 28px;
	right: -28px;
	top: 0;
	bottom: 0;
	background-image: linear-gradient(to right, white, rgba(255, 255, 255, 0));
	z-index: 1;
	pointer-events: none;
}

.carousel .move-right {
	padding-left: 5px;
	border-left: 1px dotted {$GET,standard_border};
}

.carousel .move-right::after {
	content: '';
	position: absolute;
	width: 28px;
	left: -28px;
	top: 0;
	bottom: 0;
	background-image: linear-gradient(to right, rgba(255, 255, 255, 0), white);
	z-index: 1;
	pointer-events: none;
}

.carousel .main {
	overflow: hidden;
	white-space: nowrap !important;
}

.carousel .box, .carousel-temp > * {
	display: inline-block;
	max-width: 25em;
	white-space: normal;
	vertical-align: top;
	padding: 0 0.3em;
}
