/*
 {$BRAND_NAME`}
 Copyright (c) Christopher Graham, 2004-2024
*/

/* Field map display */

.catalogue-fieldmap-entry-wrap {
	margin: 1em 0;
}

.catalogue-fieldmap-field-name-column {
	width: 13em;
}
.catalogue-fieldmap-field-value-column {
	width: 100%;
}
/*{+START,CSS_MODE,mobile}*/
	.catalogue-fieldmap-field-name-column, .catalogue-fieldmap-field-value-column {
		width: auto;
	}
/*{+END}*/

/* Tabular display */

.catalogue-tabular-view-link-column {
	width: 8em;
}

.catalogue-tabular-rating-column {
	width: 85px;
}

/* Grid display */

.display-type-GRID {
	{$BETA_CSS_PROPERTY,display: flex;}
	flex-wrap: wrap;
	margin: -0.5em 0 0 -0.5em;
	position: relative;
	z-index: 1;
	border: 1px;
}

.display-type-GRID .box {
	margin: 0.5em 0 0 0.5em;
}
/*{+START,CSS_MODE,desktop}*/
	.display-type-GRID .box {
		width: calc(25% - 0.5em - 2px);
	}
/*{+END}*/

.display-type-GRID .box h3 span {
	white-space: nowrap;
	text-overflow: ellipsis;
	overflow: hidden;
}

.display-type-GRID .catalogue-entry-box-thumbnail a {
	outline: 0;
}

.display-type-GRID .catalogue-entry-box-thumbnail img {
	width: 100%;
}

.display-type-GRID .box .ratings {
	min-height: 20px;
}

/* Shopping catalogue entry screen */

.catalogue-fields-table {
	margin: 1em 0;
	font-size: 0.85em;
}

.catalogue-fields-table th, .catalogue-fields-table td {
	padding: 0.5em;
	text-align: left;
}

.catalogue-entry-screen .ratings .rating-box {
	float: left;
	margin-right: 1em;
}

/*{+START,CSS_MODE,desktop}*/
.catalogue-entry-screen .ratings .rating-box {
	float: left;
	margin-right: 1em;
	width: 10em;
}
/*{+END}*/
/*{+START,CSS_MODE,mobile}*/
.catalogue-entry-screen .ratings .rating-box {
	width: 100%;
}
/*{+END}*/

/* Particular fields types */

.field-multilist > p:first-child {
	margin-top: 0;
}

.field-multilist > p:last-child {
	margin-bottom: 0;
}

/* Shopping cart link template */

.cart-info {
	overflow: hidden;
}

.product-view .cart-info {
	margin-bottom: 2em;
}

.cart-info .box {
	margin-top: 0.25em;
}

.cart-info .rating-part {
	padding-top: 1em;
	float: left;
}

.cart-info img, .cart-info span {
	vertical-align: middle;
}

.cart-link {
	float: right;
}

/* Shopping cart button template */

.add-to-cart {
	padding-top: 1em;
}

.purchase-buy {
	float: left;
	margin-right: 0.5em;
}

/* Shopping catalogue entry screen AND eCommerce product entries */

.price-box {
	font-weight: bold;
	margin: 1em 0;
	font-size: 1.15em;
}

/* Shopping catalogue entries */

/* Shopping catalogue entry screen */

.product-view .catalogue-entry-box-thumbnail {
	float: right;
	margin: 3em 0 3em 3em;
}

.product-view .sku, .product-view .stock-level {
	float: right;
	padding-top: 0.5em;
	padding-left: 1em;
}
