/*
 {$BRAND_NAME`}
 Copyright (c) Christopher Graham, 2004-2024
*/

/* Chat lobby (except IM) */

.box---chat-lobby-screen-rooms {
	margin-top: 2em;
}

/*{+START,CSS_MODE,desktop}*/
	.chat-rooms-and-chat-actions {
		{$BETA_CSS_PROPERTY,display: flex;}
	}
/*{+END}*/

.chat-rooms h3, .chat-actions h3 {
	border-bottom: 0;
}

.chat-rooms {
	padding: 1em;
}

.chat-rooms .associated-details:last-child {
	display: block;
}

.chat-actions {
	padding: 1em;
	border-left: 1px solid {$GET,standard_border};
}

/*{+START,CSS_MODE,mobile}*/
	.chat-actions {
		border-top: 1px solid {$GET,standard_border};
		border-left: none;
	}
/*{+END}*/

.chat-actions li {
	margin: 0.5em 0 !important;
}

.chat-multi-tab {
	font-size: 0.9em;
}
.chat-multi-tab * {
	vertical-align: middle;
}

/* Chatrooms */

.chat-posting-area {
	border: 1px solid {$GET,pale_border};
	padding: 0.5em;
	/*{+START,IF,{$THEME_OPTION,curved_borders}}*/
		border-radius: 5px;
	/*{+END}*/
}

/*{+START,CSS_MODE,mobile}*/
	.chat-posting-area .left, .chat-posting-area .right {
		float: none;
	}

	.chat-posting-area .right {
		margin-top: 0.25em;
	}
/*{+END}*/

.chat-posting-area textarea, .chat-posting-area input, .chat-posting-area img {
	vertical-align: middle;
}

.chat-posting-area textarea {
	margin-top: 0;
	margin-right: 1em;
}
/*{+START,CSS_MODE,mobile}*/
	.chat-posting-area textarea {
		width: 100%;
	}

	.chat-posting-area .left {
		float: none;
	}
/*{+END}*/
/*{+START,CSS_MODE,desktop}*/
	.chat-posting-area textarea {
		width: 20em;
	}
/*{+END}*/

.below-main-chat-window {
	margin-top: 2em;
	margin-bottom: 4em;
}

#chat-comcode-panel {
	margin-top: 1em;
}

.chat-options-title {
	margin-top: 0.5em;
}

/*{+START,CSS_MODE,desktop}*/
	.box---chat-screen-options::after {
		display: block;
		clear: both;
		content: "";
	}

	.chat-room-options, .chat-room-actions {
		float: left;
		width: 50%;
		min-height: 16em;
	}

	.chat-room-options {
		padding: 0.5em;
	}

	.chat-room-actions {
		padding-left: 1em;
		border-left: 1px solid {$GET,standard_border};
	}

	.chat-colour-option, .chat-font-option {
		float: left;
		width: 50%;
	}

	.chat-colour-option {
		padding-right: 0.5em;
	}
/*{+END}*/

.chat-colour-option label {
	display: block;
}

.chat-colour-option p:first-child, .chat-font-option p:first-child {
	margin-top: 0;
	margin-bottom: 0.25em;
}
.chat-colour-option p:last-child, .chat-font-option p:last-child {
	margin-top: 0.25em;
	margin-bottom: 0;
}

/*{+START,CSS_MODE,mobile}*/
	.chat-room-options, .chat-room-actions {
		padding: 0.5em;
	}

	.chat-options-title, .chat-options, .chat-colour-option, .chat-font-option {
		margin: 1em 0;
	}

	.chat-room-options p:last-child {
		margin: 0;
	}
/*{+END}*/

/* Chat message stream */

.messages-window-full-chat {
	max-height: 35em;
}

.messages-window {
	/*{+START,IF,{$EQ,{$CONFIG_OPTION,chat_message_direction},upwards}}*/
		vertical-align: top;
	/*{+END}*/
	/*{+START,IF,{$EQ,{$CONFIG_OPTION,chat_message_direction},downwards}}*/
		vertical-align: bottom;
	/*{+END}*/
	overflow: auto;
}

.chat-posting-area + .chat-lobby-convos-area-messages {
	margin: 1em 0;
}

.chat-message {
	border: 1px solid {$GET,pale_border};
	background: {$GET,area_background};
	padding: 1em;
	margin: 1em 0;
	overflow: hidden;
	/*{+START,IF,{$THEME_OPTION,curved_borders}}*/
		border-radius: {$GET,border_radius};
	/*{+END}*/
}

.chat-lobby-convos-area-messages .chat-message {
	margin: 0.6em 0;
}

.chat-message blockquote {
	margin: 0;
}

.ghost .chat-message .associated-links-block-group {
	display: none;
}

.chat-message-old {
	background-color: {$GET,area_faded_background} !important;
}

.chat-avatar {
	float: right;
	width: 50px;
	margin-left: 0.5em;
}
.chat-lobby-convos-area-messages .chat-avatar {
	width: 30px;
}

/* Post details */
.chat-message > div {
	border: 1px dotted {$GET,standard_border};
	border-left: 0;
	margin: 0.5em 0.5em 0.5em -0.5em;
	padding: 0.2em;
	font-size: 0.9em;
	opacity: 0.5;
	transition: opacity 0.2s linear !important;
	transform: scale(1); /* Needed to stop size jerk during animation, by forcing it as a layer at all times */
	margin-right: 60px;
}

.chat-lobby-convos-area-messages .chat-message > div {
	margin-right: 40px;
}

.chat-message > div:hover,
html.is-touch-enabled .chat-message > div {
	opacity: 1;
}

.chat-operator-staff a,
.chat-operator-staff a:visited,
.chat-operator-staff a:hover {
	color: {$GET,red_highlight_text};
}

.chat-message-by {
	font-style: italic;
}

/* Instant messaging */

.loading-overlay {
	position: absolute;
	left: 20%;
	width: 60%;
	top: 30%;
	border: 1px solid {$GET,pale_border};
	background-color: {$GET,area_background};
	font-size: 1.5em;
	padding: 3em;
	text-align: center;
}

.chat-im-convos-wrap {
	margin-top: 3em;
}

/*{+START,CSS_MODE,desktop}*/
	.chat-im-convos-inner {
		{$BETA_CSS_PROPERTY,display: flex;}
	}
/*{+END}*/

.alert-box-wrap {
	padding-top: 3em;
}

.chat-lobby-friends {
	padding: 1em;
}
/*{+START,CSS_MODE,desktop}*/
	.chat-lobby-friends {
		/*float: left;*/
		/*width: 16.5em;*/
	}
/*{+END}*/

.chat-lobby-friends input {
	vertical-align: middle;
}

.chat-lobby-friends .form-add-friend {
	margin-bottom: 14px;
}

.chat-lobby-friends .form-add-friend .input-group {
	{$BETA_CSS_PROPERTY,display: inline-flex;}
	width: auto;
}

.chat-lobby-convos {
	padding: 1em;
}
/*{+START,CSS_MODE,desktop}*/
	.chat-lobby-convos {
		border-right: 1px solid {$GET,standard_border};
	}
/*{+END}*/

.chat-lobby-convos-tabs {
	border-left: 0;
	border-right: 0;
	border-top: 0;
	border-bottom: 1px solid;
	border-color: {$GET,pale_border};
	overflow: hidden;
	margin-bottom: 0.5em;
}

.chat-lobby-convos-tabs div {
	float: left;
	padding: 3px 5px 0 5px;
	border-right: 1px solid {$GET,pale_border};
	border-top: 1px solid {$GET,pale_border};
	text-align: center;
}

.chat-lobby-convos-tab-first {
	border-left: 1px solid {$GET,pale_border};
}

.chat-lobby-convos-current-tab {
	text-shadow: 1px 1px 1px {$GET,standard_border};
}

.chat-lobby-convos-tab-new-messages {
	color: {$GET,red_highlight_text};
}

/*{+START,CSS_MODE,desktop}*/
	.chat-lobby-convos-areas {
		min-width: 26em;
	}
/*{+END}*/

.chat-participant-avatar {
	display: block;
	width: 45px;
	float: left;
	margin-right: 3px;
}

.chat-lobby-convos-area {
	overflow: hidden;
}

.chat-lobby-convos-area-main {
	overflow: hidden;
}

.chat-lobby-convos-area-messages {
	/*{+START,IF,{$EQ,{$CONFIG_OPTION,chat_message_direction},upwards}}*/
		height: 20em;
	/*{+END}*/
	/*{+START,IF,{$EQ,{$CONFIG_OPTION,chat_message_direction},downwards}}*/
		height: 26em;
	/*{+END}*/
}

.chat-friends-column {
	width: 25px;
}

.chat-name-column, .chat-online-column {
	width: auto;
}

.chat-choose-column {
	width: 25px;
}

.im-post-bits {
	/*{+START,IF,{$EQ,{$CONFIG_OPTION,chat_message_direction},downwards}}*/
		margin: 1em 0;
	/*{+END}*/
}

.im-post-bits .horiz-field-sep {
	display: inline !important;
}

.im-post-bits span {
	float: right;
}

.im-post-field {
	margin: 0 0 0 1px;
	width: 13.5em;
	overflow: hidden;
}

.im-close-button {
	text-align: right;
	margin-bottom: 1em;
}

.im-close-button input {
	width: 8em;
}

.friend-active {
	opacity: 1.0;
}
.friend-inactive {
	opacity: 0.4;
}

.friend-actions {
	/*margin-top: 1em;*/
	/*margin-bottom: 1em;*/
}

.friend-actions .btn {
	margin: 7px;
}

.friend-actions input {
	width: 100%;
	text-align: left;
	margin: 0.2em 0 !important;
}

.chat-lobby-convos-area-bar {
	float: right;
	margin-left: 1em;
	width: 10em;
	overflow: hidden;
}

.chat-lobby-convos-area-participants {
	height: 19.5em;
	overflow: auto;
}

.chat-lobby-convos-area-participants .none {
	color: {$GET,red_highlight_text};
}

.chat-lobby-im-participant .clearfix a {
	display: block;
}

.sound-effects-form p {
	margin-bottom: 0;
	padding-bottom: 1em;
}

/* Instant messaging (site-wide) */

.sitewide-im-popup-body {
	background-color: {$GET,area_background} !important;
}

.chat-sound-effects-checkbox {
	margin-top: -2.2em;
}

.im-event {
	position: fixed;
	width: 11em;
	z-index: 1000;
	overflow: hidden;
	background-color: {$GET,floating_alert_background};
	color: {$GET,native_ui_foreground};
	border: 1px solid {$GET,pale_border};
	box-shadow: 0px 0px 20px {$GET,dark_shadow};
	/*{+START,IF,{$THEME_OPTION,curved_borders}}*/
		border-radius: 5px;
	/*{+END}*/
	padding: 1em;
}

.im-event p {
	margin-top: 0;
}

.im-event .im-popup-close-button {
	float: right;
	margin: 0 0 0.5em 0.5em;
	cursor: pointer;
}

.im-event .im-popup-avatar {
	float: left;
	width: 25px;
	height: 25px;
	margin-right: 0.5em;
}

.im-event .actions-list {
	float: right;
}

/* Shoutbox */

.box.box---block-side-shoutbox-message {
	background-color: {$GET,WB};
	margin-left: 30px;
	position: relative;
}

.box---block-side-shoutbox-message::before {
	content: '';
	width: 0;
	height: 0;
	border-style: solid;
	border-width: 5px 5px 5px 0;
	border-color: transparent {$GET,standard_border} transparent transparent;
	position: absolute;
	left: -5px;
	top: 15px;
}

.boxless-space .box---block-side-shoutbox-message::before {
	display: none;
}

.shoutbox-message-avatar {
	position: absolute;
	left: -30px;
}

.shoutbox-message-avatar img {
	width: 20px;
	height: 20px;
}

.shoutbox-message-header {
	overflow: hidden;
}

.shoutbox-message-author,
.shoutbox-message-time {
	margin-top: 0;
	margin-bottom: 5px;
}

.shoutbox-message-author {
	float: left;
}

.shoutbox-message-time {
	float: right;
}

.shoutbox-message {
	margin: 0;
}

/* Friends block */

.global-side-panel {
	position: relative;
}

.block-side-friends {
	/*position: fixed;	Useful start for tying to bottom, but you probably want to leave a footer gap so you can move it fully down
	bottom: 7.5em;
	background-color: {$GET,main_background};
	width: 13em;
	padding: 0 1em;
	margin-left: -1em;*/
}

/*
=========================
==========Icons==========
=========================
*/

ul.icon-links-block-group {
	list-style-type: none;
	margin: 0;
	padding: 0;
	float: right;
}
/*{+START,CSS_MODE,mobile}*/
	ul.icon-links-block-group {
		margin: 1em 0;
	}
/*{+END}*/

ul.icon-links-block-group > li {
	list-style-type: none;
	margin: 0 0 0 1em;
	display: inline-block;
	min-height: 15px;
}

ul.icon-links-block-group > li > a > .icon {
	width: 14px;
	height: 14px;
	margin-right: 0.3em;
}
