/*
 {$BRAND_NAME`}
 Copyright (c) Christopher Graham, 2004-2024
*/

.access-restricted-in-list {
	font-style: italic;
	color: {$GET,danger_color};
}

.cns-edit-forum-grouping {
	background-color: {$GET,box_title_background};
}

.cns-edit-forum-grouping, .cns-edit-forum-forum {
	border: 1px solid {$GET,pale_border};
	margin-top: -1px;
	padding: 1em;
	font-size: 1em;
}

.cns-edit-forum-forum {
}

.cns-edit-forum-type {
	float: right;
}

.cns-edit-forum-title {
	float: left;
	width: 40%;
}

.cns-edit-forum-orderings {
	padding-top: 1em;
}

.cns-edit-forum-title h3, .cns-edit-forum-orderings label, .cns-edit-forum-type {
	color: {$GET,box_title_text};
	border: none;
}

.cns-edit-forum-orderings-f {
	padding-left: 25px;
}

/*{+START,CSS_MODE,desktop}*/
	.cns-edit-forum-under {
		padding-left: 50px;
	}
/*{+END}*/
/*{+START,CSS_MODE,mobile}*/
	.cns-edit-forum-under {
		padding-left: 10px;
	}
/*{+END}*/
