/*
 {$BRAND_NAME`}
 Copyright (c) Christopher Graham, 2004-2024
*/

/*{+START,CSS_MODE,desktop}*/
	.cns-information-bar { /* either CNS_GUEST_BAR.tpl or CNS_MEMBER_BAR.tpl */
		font-size: 0.9em;
	}
/*{+END}*/

.cns-information-bar-outer > .toggleable-tray {
	margin: 0; /* Undoes what .box-inner sets, so that our dividers are flush with the box border */
	width: auto !important;
}

.cns-information-bar-outer .toggleable-tray-title img {
	opacity: 0.2;
}
.cns-information-bar-outer .toggleable-tray-title:hover img,
html.is-touch-enabled .cns-information-bar-outer html.is-touch-enabled .toggleable-tray-title img {
	opacity: 1.0;
}

.cns-information-bar .cns-remember-me {
	padding-right: 1em;
	white-space: nowrap;
}

.cns-member-column > *:first-child, .cns-guest-column > *:first-child {
	margin-top: 0;
}
.cns-member-column > *:last-child, .cns-guest-column > *:last-child {
	margin-bottom: 0;
}

.cns-member-column, .cns-guest-column {
	vertical-align: top;
	margin-left: -1px;
}
/*{+START,CSS_MODE,desktop}*/
	.cns-member-column, .cns-guest-column {
		padding: 0.8em;
		float: left;
		border-left: 1px solid {$GET,pale_border};
	}
/*{+END}*/
/*{+START,CSS_MODE,mobile}*/
	.cns-member-column, .cns-guest-column {
		margin: 0.5em;
	}
/*{+END}*/

/*{+START,CSS_MODE,desktop}*/
	.cns-member-column {
		/*height: 9em; !* 8em seems okay on Mac, 9em needed on Windows *!*/
	}
/*{+END}*/
/*{+START,CSS_MODE,mobile}*/
	.cns-member-column {
		min-height: auto;
	}
/*{+END}*/

/*{+START,CSS_MODE,desktop}*/
	.cns-guest-column {
		/*height: 3em;*/
	}
/*{+END}*/

.cns-guest-column-a * {
	vertical-align: middle;
}

.cns-guest-column-a .form-control {
	margin-right: 1em;
}

.cns-guest-column-a .horizontal-links {
	text-align: left;
}

.cns-guest-column-a .horizontal-links, .cns-guest-column-a .horizontal-links li {
	vertical-align: top; /* This rebalances it in the alignment order due to the extra element nesting */
}

.cns-guest-column-b {
	text-align: right;
}
/*{+START,CSS_MODE,mobile}*/
	.cns-guest-column-b {
		float: right;
	}
/*{+END}*/

.cns-member-column-a {
	text-align: center;
	vertical-align: middle;
	border-left: 0;
}
/*{+START,CSS_MODE,desktop}*/
	.cns-member-column-a {
		width: 112px;
	}
/*{+END}*/
/*{+START,CSS_MODE,mobile}*/
	.cns-member-column-a {
		display: none;
	}
/*{+END}*/

.cns-member-column-a img {
	max-width: 100px;
}

.cns-member-column-b {
	border-left: 0;
}
/*{+START,CSS_MODE,desktop}*/
	.cns-member-column-b {
		width: 20em;
	}
/*{+END}*/

.cns-member-column-c {
}
/*{+START,CSS_MODE,desktop}*/
	.cns-member-column-c {
		width: 17.3em; /* The extra 0.3em needed for iPad */
	}
/*{+END}*/

.cns-member-column-d {
	white-space: nowrap;
}

.cns-member-column-title {
	font-weight: bold;
	display: inline;
}

.cns-member-column-pts {
	color: {$GET,red_highlight_text};
	font-weight: bold;
}

.cns-search-box {
	margin-bottom: 1em;
}

.cns-search-box input[type="text"] {
	margin: 0;
	width: calc(100% - 8em);
}

.cns-member-column-last-visit {
	white-space: normal;
}

.cns-member-column-last-visit ul {
	margin: 0;
	padding: 0;
}

.cns-member-column-last-visit span {
	white-space: nowrap;
}

.cns-member-column-last-visit li {
	white-space: nowrap;
	padding: 0;
	list-style-type: none;
}
/*{+START,CSS_MODE,desktop}*/
	.cns-member-column-last-visit li {
		margin: 0 0 0 1em;
	}
/*{+END}*/
/*{+START,CSS_MODE,mobile}*/
	.cns-member-column-last-visit li {
		margin: 0.5em 0 0.5em 1em;
	}
/*{+END}*/
