/*
 {$BRAND_NAME`}
 Copyright (c) Christopher Graham, 2004-2024
*/

.cns-profile-column {
	background-color: {$GET,area_background};
	border: 1px solid {$GET,pale_border};
	margin-top: 1em;
	/*{+START,IF,{$THEME_OPTION,curved_borders}}*/
		border-radius: {$GET,border_radius};
	/*{+END}*/
}

.cns-profile-main h2 {
	border-bottom: 1px solid {$GET,pale_border};
}

.cns-profile-about-field-name-column {
	width: 12em;
}
.cns-profile-about-field-value-column {
	width: 100%;
}
/*{+START,CSS_MODE,mobile}*/
	.cns-profile-about-field-name-column, .cns-profile-about-field-value-column {
		width: auto;
	}
/*{+END}*/

/*{+START,CSS_MODE,mobile}*/
	.cns-profile-column {
		padding: 0.5em;
	}

	.cns-profile-main {
		padding: 10px 0 0 0;
	}

	.cns-member-profile-avatar {
		text-align: center;
		margin-top: 1em;
	}
/*{+END}*/

/*{+START,CSS_MODE,desktop}*/
	.cns-member-profile-about {
		{$BETA_CSS_PROPERTY,display: flex;}
	}

	.cns-profile-column {
		min-width: 17em;
		padding: 1em;
		order: 1;
	}

	.cns-profile-column > h2:first-child {
		margin-top: 0;
	}

	.cns-profile-main {
		padding-top: 1em;
		padding-right: 1em;
	}

	.cns-member-profile-avatar {
		text-align: center;
		margin-bottom: 1em;
	}
/*{+END}*/

.cns-member-profile-avatar img {
	border: 1px solid {$GET,standard_border};
	max-width: 100px;
}

.cns-member-profile-usergroups {
	padding: 0;
	padding-left: 17px;
	margin-bottom: 1em;
	text-align: left;
}

.cns-profile-column h2 {
	font-size: 1.1em;
}

.cns-member-profile-photo {
	text-align: center;
}

.cns-member-profile-photo img {
	border: 1px solid {$GET,standard_border};
}
.cns-member-profile-photo img:not([width]):not([height]) {
	max-width: 100%;
	height: auto;
}

table.cns-profile-about-section {
	border-collapse: collapse;
}

table.cns-profile-about-section th {
	padding: 0.5em 0;
	font-weight: {$GET,font_weight_medium} !important;
}
/*{+START,CSS_MODE,desktop}*/
	table.cns-profile-about-section th {
		border-right: 1px solid {$GET,pale_border};
	}
/*{+END}*/

table.cns-profile-about-section td {
	padding: 0.5em;
	font-size: 1em;
}

table.cns-profile-about-section .associated-details {
	display: block;
}

.cns-profile-friends {
	{$BETA_CSS_PROPERTY,display: flex;}
	flex-wrap: wrap;
	margin: -0.5em 0 0 -0.5em;
}

.cns-profile-friends > .box {
	margin: 0.5em 0 0 0.5em;
	border: 1px solid {$GET,standard_border};
	background: {$GET,area_5_background};
}

.cns-account-links {
	border-top: 1px solid {$GET,pale_border};
}

.cns-account-links h2 {
	padding-top: 0.5em;
	padding-bottom: 0.5em;
	border-bottom: 1px solid {$GET,pale_border};
}

.cns-account-links-list li {
	overflow: hidden;
	margin-bottom: 0.5em;
	padding-top: 4px;
}

.cns-account-links-list li .icon {
	margin-right: 0.3em;
}

.cns-account-links .toggleable-tray-button .icon {
	width: 15px;
	height: 15px;
}

.cns-account-links .toggleable-tray {
	border-bottom: 1px solid {$GET,pale_border};
}

.cns-account-links .toggleable-tray img {
	float: left;
	margin-right: 0.5em;
	margin-top: -2px; /* Tied to "padding-top: 4px;" on ".cns-account-links ul.nl li" */
	width: 20px;
}

/*
=========================
=========Editing=========
=========================
*/

/*{+START,CSS_MODE,desktop}*/
	.cns-sig-requirements {
		width: 25em;
		margin: 1em auto !important;
	}
/*{+END}*/

.cns-avatar-page-old-avatar {
	float: right;
	padding: 1em 0.5em 1em 1em;
	text-align: right;
}

.cns-current-sig-wrap {
	margin-bottom: 1.5em;
}

.decryption-overlay label {
	font-weight: bold;
}
