/*
 {$BRAND_NAME`}
 Copyright (c) Christopher Graham, 2004-2024
*/

.block-main-members {
	{$BETA_CSS_PROPERTY,display: flex;}
	flex-wrap: wrap;
	margin: -0.5em 0 0 -0.5em;
}

.block-main-members > div {
	vertical-align: top;
	margin: 0.5em 0 0 0.5em;
}
/*{+START,CSS_MODE,desktop}*/
	.block-main-members > div {
		width: calc(50% - 0.5em);
	}
/*{+END}*/
.block-main-members--avatars > div {
	min-width: 0 !important;
}
.block-main-members > div > .box {
	margin: 0;
}

.block-main-members .associated-details {
	margin: 0;
}

.block-main-members--avatars > div, .block-main-members--photos > div, .block-main-members--media > div {
	text-align: center;
}

.block-main-members--media .gallery-tease-pic-wrap {
	text-align: left;
}
.block-main-members--media.has-item-width .img-thumb-wrap {
	width: 100% !important;
	height: auto !important;
	max-width: none !important;
	max-height: none !important;
	display: inline-block;
}
.block-main-members--media.has-item-width .img-thumb {
	width: 100% !important;
	max-width: none !important;
	max-height: none !important;
}

.block-main-members--avatars img, .block-main-members--photos img {
	width: 100%;
}
.block-main-members--avatars p, .block-main-members--photos p {
	margin: 0.25em 0;
}

.block-main-members--boxes .cns-member-box-avatar {
	float: right;
	margin-top: 0.5em; /* balance the th/td to the left, which have some padding above */
	margin-left: 1em;
}
.block-main-members--boxes table {
	margin: 0;
}
.block-main-members--boxes table th {
	width: auto;
	min-width: 0;
}
.block-main-members--boxes table td {
	width: auto;
	min-width: 0;
}

/* Search filter UI */

.advanced-member-search {
	margin-bottom: 1.5em;
}
.block-main-members--avatars .advanced-member-search+p,
.block-main-members--photos .advanced-member-search+p,
.block-main-members--boxes .advanced-member-search+p,
.block-main-members--media .advanced-member-search+p {
	margin-bottom: 0;
}

.advanced-member-search .box-inner {
	margin: 0.25em;
}

.advanced-member-search .search-option {
	width: 10em;
	padding: 0.3em;
	margin: 0;
	float: left;
}

.advanced-member-search .search-option label {
	display: block;
}

.advanced-member-search .search-option-value {
	width: 100%;
	margin-bottom: 0;
}

.advanced-member-search .search-button {
	float: right;
	margin-top: 0.6em;
}

.advanced-member-search .search-option, .advanced-member-search .search-button {
	/* Force a neat float alignment */
	min-height: 2.7em;
}
