/*
 {$BRAND_NAME`}
 Copyright (c) Christopher Graham, 2004-2024
*/

/*{+START,CSS_MODE,desktop}*/
	.comcode-error-help-div {
		float: right;
		width: 35%;
		margin-bottom: 1em;
	}
/*{+END}*/

/*{+START,CSS_MODE,desktop}*/
	.comcode-error-details-div {
		width: 65%;
		padding-right: 1em;
		margin-bottom: 1em;
	}
/*{+END}*/
