/*
 {$BRAND_NAME`}
 Copyright (c) Christopher Graham, 2004-2024
*/

/*{+START,INCLUDE,_commandr_colours,.css,css,default}{+END}*/

#command-line { /* This wraps the Commandr module/window as a whole */
	/* Styled to look like generic command prompt */
	height: 600px;
	overflow-y: auto;
	background-color: {$GET,commandr_background};
	border: 2px solid {$GET,commandr_border_color};
	box-shadow: 2px 2px {$GET,commandr_border_color};
	padding: 0.5em;
	color: {$GET,commandr_text};
	font-family: monospace;
	direction: ltr;
}

#command-prompt {
	width: 100%;
}

#commandr-command {
	/* Styled to blend in with #command-line */
	padding: 2px;
	color: {$GET,commandr_text};
	background-color: {$GET,commandr_background};
	border: 0;
	border-bottom: 1px solid {$GET,commandr_border_color};
	font-family: monospace;
}
/*{+START,CSS_MODE,desktop}*/
	#commandr-command {
		width: 400px;
	}
/*{+END}*/
/*{+START,CSS_MODE,mobile}*/
	#commandr-command {
		width: 100%;
	}
/*{+END}*/

.past-command {
	color: {$GET,commandr_faded_text};
	margin-left: 10px;
}

.text-output {
	white-space: pre !important;
	overflow-x: auto;
}

.command-output, .past-command td {
	color: {$GET,commandr_text};
}
.command-output, .past-command .results-table td {
	color: {$GET,slightly_seeded_text}; /* Undoes the above td rule as needed */
	background-color: {$GET,main_background};
}

.past-command a {
	color: inherit !important;
}

.commandr-dir {
	color: {$GET,commandr_directory_listing};
	font-weight: bold;
}

.commandr-file {
	color: {$GET,commandr_file_listing};
}

.commandr-ls-associated-details {
	float: right;
	margin-left: 2em;
}

.whois-ip {
	font-weight: bolder;
}
