/*
 {$BRAND_NAME`}
 Copyright (c) Christopher Graham, 2004-2024
*/

.hit-counter {
	font-family: 'Courier New', 'Courier', monospace;
	font-size: 1.5em;
}

.hit-counter, .hit-counter div {
	display: inline-block;
}
