/*
 {$BRAND_NAME`}
 Copyright (c) Christopher Graham, 2004-2024
*/

.do-next-page-question {
	font-size: 1em;
	text-align: center;
}
/*{+START,CSS_MODE,desktop}*/
	.do-next-page-question {
		margin-bottom: 3em;
	}
/*{+END}*/

.do-next-section-wrap {
	margin: 2em auto;
	text-align: center;
}
/*{+START,CSS_MODE,desktop}*/
	.do-next-section-wrap {
		width: 600px;
	}
/*{+END}*/

.do-next-section-wrap h2 {
	margin-top: 0;
}

.do-next-section,
.do-theme-items {
	{$BETA_CSS_PROPERTY,display: flex;}
	flex-wrap: wrap;
}

.do-next-section {
	border-left: 1px dotted {$GET,standard_border};
	border-top: 1px dotted {$GET,standard_border};
}

.do-next-item {
	min-width: 150px;
	flex: 1 1 0;
	background-color: {$GET,WB};
	min-height: 8.5em;
	border-right: 1px solid {$GET,standard_border};
	border-bottom: 1px solid {$GET,standard_border};
	transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out;
}

.do-next-item:hover,
.do-next-item.focus {
	background-color: {$GET,seed};
	color: {$GET,WB}
}

.do-next-item a {
	transition: color 0.15s ease-in-out;
}

.do-next-item:hover a,
.do-next-item.focus a {
	color: {$GET,WB};
}

.do-next-item,
.do-theme-items > div {
	padding: 0.75em;
	text-align: center;
	font-size: 0.9em;
}

.active-item td,
td.active-item {
	background-color: {$GET,area_2_background} !important;
}
.active-item td.do-theme-items > div, td.active-item.do-theme-items > div {
	background-color: {$GET,area_4_background} !important;
}

.active-item td.do-theme-items > div:hover, td.active-item.do-theme-items > div:hover {
	background-color: {$GET,area_hover_background} !important;
	cursor: pointer;
}
.do-theme-items > div:hover {
	outline: 1px dotted {$GET,standard_border};
}

.do-next-item-icon {
	padding-bottom: 0.5em;
}

.do-next-item a,
.do-theme-items a {
	text-decoration: none;
}
