/*
 {$BRAND_NAME`}
 Copyright (c) Christopher Graham, 2004-2024
*/

/* Download boxes */

.download-box-pic {
	float: right;
	padding-left: 1em;
}

/*{+START,CSS_MODE,desktop}*/
	.download-box-description.pic {
		margin-right: 180px;
	}
/*{+END}*/

.download-box-pic img {
	width: 150px;
}

/* Download screen */

.download-field-name-column {
	width: 45%;
}
.download-field-value-column {
	width: 55%;
}
/*{+START,CSS_MODE,mobile}*/
	.download-field-name-column, .download-field-value-column {
		width: auto;
	}
/*{+END}*/

/*{+START,CSS_MODE,desktop}*/
	.download-description {
		margin-right: 18em;
	}
/*{+END}*/

.download-start-slideshow {
	text-align: center;
}

.download-gallery-image {
	display: inline-block;
	margin: 0 1em 0 0;
	vertical-align: top;
}

.download-gallery-image img {
	width: 150px;
}

/* Floated Right */

/*{+START,CSS_MODE,desktop}*/
	.download-meta-details {
		float: right;
		width: 17em;
	}
/*{+END}*/

/*{+START,CSS_MODE,mobile}*/
	.download-meta-details .right {
		float: none;
	}
/*{+END}*/

.download-meta-details .ratings, .download-meta-details .trackbacks {
	width: 100%;
	margin-top: 1em;
}

.download-meta-details .ratings br {
	display: none;
}

.download-now {
	text-align: center;
	min-height: 50px;
}

.download-now .icon {
	float: left;
}

.download-now h4 {
	font-size: 1.15em;
}

.download-licence {
	margin: 0.5em;
}

.download-filesize {
	font-size: 0.9em;
	margin-bottom: 0;
}

.download-stats-wrapper {
	margin-top: 1em;
}
/*{+START,CSS_MODE,mobile}*/
	.download-stats-wrapper {
		margin-bottom: 1em;
	}
/*{+END}*/

.download-stats-wrapper .download-stats th,
.download-stats-wrapper .download-stats td {
	background-color: {$GET,area_background};
	font-size: 0.85em;
	padding: 0.5em;
	border-color: {$GET,pale_border};
}


.box---download-screen .tt-title-licence-agreement {
	margin-top: 0;
}
