/*
 {$BRAND_NAME`}
 Copyright (c) Christopher Graham, 2004-2024
*/

.purchase-button {
	text-align: center;
}

.purchase-button input {
	vertical-align: middle;
}

.agreement-box {
	max-height: 25em;
	border: 1px solid {$GET,pale_border};
	padding: 0.5em;
	overflow: auto;
}
.agreement-box .lonely-label {
	font-weight: bold;
	margin-top: 0;
}
.purchase-terms {
	font-family: 'Courier New', 'Courier', monospace;
	white-space: pre-wrap !important;
	margin: 1em 0;
}

.purchase-screen-contents {
}

.subscriptions-cancel-button {
	text-align: right;
}

.purchase-field-name-column {
	width: 16em;
}
.purchase-field-input-column {
	width: 100%;
}
/*{+START,CSS_MODE,mobile}*/
	.purchase-field-name-column, .purchase-field-input-column {
		width: auto;
	}
/*{+END}*/

.local-payment-merchant-details-wrap {
	border: 1px solid {$GET,point_of_interest_border};
	background-color: {$GET,point_of_interest_background};
}

.local-payment-merchant-details {
	display: table;
	width: 100%;
}

.local-payment-merchant-details > div {
	display: table-row;
}

.local-payment-transact-info, .payment-processor-links, .local-payment-verified-account-logo {
	display: table-cell;
	vertical-align: middle;
	padding: 0.5em;
}

.local-payment-transact-info {
}

.payment-processor-links {
	background: url('{$IMG;,ecommerce/checkmark}') no-repeat left center;
	background-size: 20px 20px;
	padding-left: 24px;
}

.local-payment-verified-account-logo {
}

.local-payment-merchant-details p {
	margin: 0;
}

.local-payment-merchant-details-wrap + .ecommerce-button, .local-payment-merchant-details + .ecommerce-button {
	margin-top: 1em;
}

/*
=========================
===Invoices / Receipts===
=========================
*/

/* Based on https://github.com/NextStepWebs/simple-html-invoice-template */

.invoice-box {
	max-width: 800px;
	margin: auto;
	padding: 30px;
	border: 1px solid {$GET,pale_border};
	box-shadow: 0 0 10px rgba(0, 0, 0, .15);
	font-size: 16px;
	line-height: 24px;
	font-family: 'Helvetica Neue', 'Helvetica', 'Arial', sans-serif;
	color: {$GET,slightly_seeded_gray_text};
}

.invoice-box table {
	width: 100%;
	line-height: inherit;
	text-align: left;
}

.invoice-box table td {
	padding: 5px;
	vertical-align: top;
}

.invoice-box table tr.top table td {
	padding-bottom: 20px;
}

.invoice-box table tr.top td.title {
	font-size: 45px;
	line-height: 45px;
	color: {$GET,area_text};
}

.invoice-box table tr.top td.title img {
	width: 100%;
	max-width: 300px;
}

.invoice-box table tr.information table td {
	padding-bottom: 40px;
}

/*{+START,CSS_MODE,mobile}*/
	.invoice-box table tr.top table td {
		width: 100%;
		display: block;
		text-align: center;
	}

	.invoice-box table tr.information table td {
		width: 100%;
		display: block;
		text-align: center;
	}
/*{+END}*/

.invoice-table thead tr th {
	background-color: {$GET,area_background};
	border-bottom: 1px solid {$GET,area_2_background};
	font-weight: bold;
	color: {$GET,slightly_seeded_text};
	text-align: left;
}

.invoice-table tr.item td {
	border-bottom: 1px solid {$GET,area_background} !important;
}

/*{+START,CSS_MODE,desktop}*/
	.invoice-table tr.item:last-child td {
		border-bottom: none;
	}

	.invoice-table tr.total td.total {
		border-top: 2px solid {$GET,area_background};
		font-weight: bold;
	}
/*{+END}*/

/*{+START,CSS_MODE,mobile}*/
	.invoice-table tr {
		border: 1px solid {$GET,standard_border};
	}

	.invoice-table td {
		border-left: 0 !important;
		border-right: 0 !important;
		border-bottom: 1px solid {$GET,area_background};
	}

	.invoice-table tr.item td:last-child,
	.invoice-table td:last-child {
		border-bottom: 0 !important;
	}
/*{+END}*/
