/*
 {$BRAND_NAME`}
 Copyright (c) Christopher Graham, 2004-2024
*/

.email-body {
	font-size: 13px;

	background-color: {$GET,area_5_background};
	color: {$GET,slightly_seeded_text};
	padding: 1em;
	border: 1px solid {$GET,pale_border};
}

.email-logo {
	margin: 0 0 1.5em 0;
}

.email-logo img {
	max-width: 100%;
	height: auto;
}

.email-body .box {
	color: {$GET,slightly_seeded_text};
	line-height: 1.6em;
	padding: 0.8em 2em;
}

.email-body .box  h2 {
	border-bottom: 0;
}

.email-body hr {
	border-bottom: 4px solid {$GET,hr};
}

.email-footer {
	overflow: hidden;
	font-weight: {$GET,font_weight_medium};
}

.email-footer .email-copyright {
	float: left;
}

.email-footer .email-url {
	float: right;
}
