/*
 {$BRAND_NAME`}
 Copyright (c) Christopher Graham, 2004-2024
*/

/*{+START,CSS_MODE,mobile}*/
	.filedump-screen .tab {
		min-width: 70px;
	}
/*{+END}*/

/*{+START,CSS_MODE,mobile}*/
	.filedump-filter {
		line-height: 1.8em;
	}

	.filedump-filter .type-filter-filedump, .filedump-filter .sort-filedump {
		padding-left: 0 !important;
	}
/*{+END}*/

.filedump-filter .type-filter-filedump select, .filedump-filter .jump-to-filedump select, .filedump-filter .sort-filedump select {
	max-width: 8em;
}

.filedump-filter .btn-sm {
	margin-left: 1em !important;
}

/*{+START,CSS_MODE,mobile}*/
	.filedump-actions {
		width: 150px;
	}
/*{+END}*/

.filedump-thumbnails {
	{$BETA_CSS_PROPERTY,display: flex;}
	flex-wrap: wrap;
	margin: -0.5em 0 0 -0.5em;
	width: 100%;
}

.filedump-filter #type_filter_filedump_1, .filedump-filter #type_filter_filedump_2 {
	max-width: 5em;
}

.filedump-thumbnails .box {
	margin: 0.5em 0 0 0.5em;
}

.filedump-thumbnails .box .box-inner {
	width: 200px;
	height: 200px;
	text-align: center;
	vertical-align: middle;
	display: table-cell;
	position: relative;
}

/*
.filedump-thumbnails .box .box-inner:hover .meta {
	opacity: 0.3;
}
*/

.filedump-embed, .filedump-select {
	position: absolute;
	top: 0;
	margin: 0.3em !important;
	border: 1px solid {$GET,standard_border};
	padding: 0.5em;
	background-color: {$GET,WB};
	background-color: rgba(255,255,255,0.7);
	z-index: 10;
}

.filedump-embed {
	left: 0;
}

.filedump-select {
	right: 0;
}

.filedump-thumbnails .box .box-inner p {
	margin: 0;
}

.filedump-thumbnails .box .box-inner p img {
	display: inline-block;
	vertical-align: top;
}

.filedump-thumbnails .box .box-inner .meta {
	position: absolute;
	left: 0;
	bottom: 0.5em;
	width: 100%;
	background-color: {$GET,WB};
	background-color: rgba(255,255,255,0.7);
	overflow-wrap: break-word;
	padding: 0.25em;
}

/* Embed screen */

#generated_html {
	width: 100%;
}

.filedump-generated {
	overflow: hidden;
}

.filedump-generated-comcode {
	width: 50%;
	padding-right: 0.5em;
}

.filedump-generated-comcode textarea {
	width: 100%;
}

.filedump-generated-preview {
	padding-left: 0.5em;
	float: right;
	overflow-wrap: break-word;
	width: 50%;
}

.filedump-image-sizes label {
	min-width: 13em;
	display: inline-block;
}

.filedump-image-sizes input {
	width: calc(100% - 5em);
}
