/*
 {$BRAND_NAME`}
 Copyright (c) Christopher Graham, 2004-2024
*/

@font-face
{
	font-family: NotoSansRegular;
	src: url('{$BASE_URL;}/data/fonts/NotoSans-Regular.ttf');
}

@font-face
{
	font-family: NotoSansBold;
	src: url('{$BASE_URL;}/data/fonts/NotoSans-Bold.ttf');
}

@font-face
{
	font-family: NotoSansBoldItalic;
	src: url('{$BASE_URL;}/data/fonts/NotoSans-BoldItalic.ttf');
}

@font-face
{
	font-family: NotoSansItalic;
	src: url('{$BASE_URL;}/data/fonts/NotoSans-Italic.ttf');
}

@font-face
{
	font-family: NotoSansRegular;
	src: url('{$BASE_URL;}/data/fonts/NotoSans-Regular.ttf');
}
