﻿/*
 {$BRAND_NAME`}
 Copyright (c) Christopher Graham, 2004-2024
*/

/* All layout modes and viewing entries */

.gallery-nav-inner {
	{$BETA_CSS_PROPERTY,display: flex;}
	align-items: center;
	margin-bottom: 10px;
}

.gallery-nav-prev-btn,
.gallery-nav-next-btn {
	border: 1px solid {$GET,standard_border};
	padding: 5px;
	background-color: {$GET,area_5_background};
	border-radius: {$GET,border_radius};
	align-items: center;
}

/*{+START,CSS_MODE,desktop}*/
	.gallery-nav-prev-btn,
	.gallery-nav-next-btn {
		width: 195px;
		{$BETA_CSS_PROPERTY,display: flex;}
		justify-content: space-between;
	}
/*{+END}*/

.gallery-nav-prev-btn:hover,
.gallery-nav-next-btn:hover {
	text-decoration: none;
}

.gallery-nav-prev-btn .icon,
.gallery-nav-next-btn .icon {
	width: 30px;
	height: 30px;
}

.gallery-nav-prev-btn .img-thumb,
.gallery-nav-next-btn .img-thumb {
	width: 80px;
}

/*{+START,CSS_MODE,smartphone}*/
	.gallery-nav-prev-btn .img-thumb,
	.gallery-nav-next-btn .img-thumb {
		display: none;
	}
/*{+END}*/

.gallery-nav-prev-btn .img-thumb {
	margin-left: 10px;
}

.gallery-nav-next-btn .img-thumb {
	margin-right: 10px;
}

.gallery-nav-status {
	flex-grow: 1;
	text-align: center;
}

.gallery-nav-margin-left {
}
.gallery-nav-margin-right {
}
/*{+START,CSS_MODE,desktop}*/
	.gallery-nav-margin-left {
		margin-left: 195px;
	}
	.gallery-nav-margin-right {
		margin-right: 195px;
	}
/*{+END}*/

.gallery-nav .btn.buttons--slideshow {
	margin-right: 15px;
}

.gallery-member-details {
	min-width: 296px; /* based on the 320px width mobile standard */
}

.gallery-entry-field-name-column {
	width: 8.5em;
}
.gallery-entry-field-value-column {
	width: 16em;
}
/*{+START,CSS_MODE,mobile}*/
	.gallery-entry-field-name-column,
	.gallery-entry-field-value-column {
		width: auto;
	}
/*{+END}*/

.gallery-entry-meta-details {
	background-color: {$GET,area_5_background};
	margin-top: 0;
}

/*{+START,CSS_MODE,mobile}*/
	.gallery-entry-meta-details ul.horizontal-links {
		width: auto;
		margin: -5px -5px -5px 0;
	}

	.gallery-entry-meta-details ul.horizontal-links li {
		display: inline-block;
		margin: 5px 5px 5px 0;
	}
/*{+END}*/

.delete-cross-button,
.delete-cross-button div {
	display: inline;
}

.delete-cross-button input,
.gallery-grid-item .mass-select-marker,
.carousel-mode-thumb .mass-select-marker {
	position: absolute;
	right: 2px;
	top: 2px;
	backface-visibility: hidden; /* Needed to stop size jerk during animation, by forcing it as a layer at all times */
	opacity: 0.0;
	transition: opacity 0.15s ease-in-out;
	z-index: 1;
}

.gallery-grid-item .mass-select-marker,
.carousel-mode-thumb .mass-select-marker {
	right: 7px !important;
}

.gallery-grid-item .mass-select-marker input,
.carousel-mode-thumb .mass-select-marker input {
	float: none !important;
	margin: 0 0 0 0 !important;
}

.gallery-grid-item,
.carousel-mode-thumb {
	position: relative;
}

.gallery-grid-item:hover .delete-cross-button input,
.carousel-mode-thumb:hover .delete-cross-button input,
.gallery-grid-item:hover .mass-select-marker,
.carousel-mode-thumb:hover .mass-select-marker {
	opacity: 0.5;
	transform: scale(1); /* Needed to stop size jerk during animation, by forcing it as a layer at all times */
}


.gallery-grid-item .delete-cross-button input:hover,
.carousel-mode-thumb .delete-cross-button input:hover,
.gallery-grid-item .mass-select-marker:hover,
.carousel-mode-thumb .mass-select-marker:hover {
	opacity: 1;
}

.gallery-grid-item .mass-select-marker:focus-within,
.carousel-mode-thumb .mass-select-marker:focus-within {
	opacity: 1;
}

.gallery-actions  {
	display: table;
	margin: 0 0 15px auto;
}

.gallery-actions .btn-slideshow {
	margin: 5px;
}

.gallery-actions .pagination-sort {
	margin: 5px;
}

.gallery-actions .toggle-details {
	display: inline-block;
	margin: 5px;
}

.gallery-actions .toggle-details input {
	width: 25px;
	height: 25px;
	vertical-align: middle;
}

.gallery-mode-screen .heading-subgalleries {
	margin-bottom: 30px;
}

.gallery-mode-screen .heading-gallery-entries-in {
	margin-top: 40px;
}

/* Slideshow only */
.gallery-slideshow-iframe-wrapper {
	position: fixed;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: 1000;
	background: rgba(0, 0, 0, 0.8);
}

.gallery-slideshow-iframe {
	width: 100%;
	height: 100%;
}

.gallery-slideshow-iframe-wrapper.has-loading-indicator::after {
	color: {$GET,WB};
	position: absolute;
	left: 50%;
	top: 50%;
	margin-top: -1.5em;
	margin-left: -1.5em;
}

html.is-gallery-slideshow,
html.is-gallery-slideshow body {
	overflow: hidden;
}

html.is-gallery-slideshow .container {
	max-width: initial;
	padding: 0;
}

html.is-gallery-slideshow .global-middle-outer {
	margin-top: 0;
}

html.is-gallery-slideshow .global-middle {
	padding-left: 0;
	padding-right: 0;
	margin-bottom: 0;
}

html.is-gallery-slideshow body#main-website #main-website-inner {
	background: transparent;
}

.gallery-slideshow-screen {
	{$BETA_CSS_PROPERTY,display: flex;}
	min-height: 100vh;
	max-height: 100vh;
	overflow: hidden;
	transition: background-color 0.15s ease-in-out;
}

/*{+START,CSS_MODE,mobile}*/
	.gallery-slideshow-screen {
		flex-direction: column;
	}
/*{+END}*/

.gallery-slideshow-screen.is-bg-color-light {
	background: {$GET,WB};
}

.gallery-slideshow-screen.is-bg-color-dark {
	background: {$COLOR_LIGHTEN,{$GET,WB},13.5%};
}

.gallery-slideshow-screen .slideshow-content {
	flex-grow: 1;
	order: 1;
	{$BETA_CSS_PROPERTY,display: flex;}
	flex-direction: column;
	position: relative;
}

.gallery-slideshow-screen .slideshow-status {
	display: table;
	margin: 0 auto;
	padding: 5px 10px;
	background: {$COLOR_LIGHTEN,{$GET,WB},20%};
	color: {$GET,BW};
	border-bottom-left-radius: {$GET,border_radius};
	border-bottom-right-radius: {$GET,border_radius};
}

.gallery-slideshow-screen .slideshow-main {
	flex-grow: 1;
	overflow: hidden;
	margin-top: 10px;
	margin-bottom: 10px;
	text-align: center;
	position: relative;
}

.gallery-slideshow-screen .slideshow-media-box,
.gallery-slideshow-screen .slideshow-media-box-item {
	max-height: inherit;
	height: inherit;
}

.gallery-slideshow-screen .slideshow-media-wrapper {
	max-height: inherit;
	position: relative;
	background-size: 100% 100%; /* Background image is set to thumbnail image for embedded videos while loading */
}

.gallery-slideshow-screen .cms-slider-item.active,
.gallery-slideshow-screen .cms-slider-item-next,
.gallery-slideshow-screen .cms-slider-item-prev {
	{$BETA_CSS_PROPERTY,display: flex;}
	justify-content: center;
}

/* Dual-ring loading indicator */
.gallery-slideshow-screen .slideshow-media-box-item.has-loading-indicator::after {
	position: absolute;
	top: 50%;
	left: 50%;
	margin-top: -1.5em;
	margin-left: -1.5em;
}

.gallery-slideshow-screen .slideshow-media-box-item .slideshow-img {
	max-width: 100%;
	max-height: inherit;
	border: none;
	box-shadow: none;
}

.gallery-slideshow-screen .slideshow-media-wrapper .slideshow-img,
.gallery-slideshow-screen .slideshow-media-wrapper .media-audio-websafe,
.gallery-slideshow-screen .slideshow-media-wrapper .media-audio-websafe figure,
.gallery-slideshow-screen .slideshow-media-wrapper .media-video-websafe,
.gallery-slideshow-screen .slideshow-media-wrapper .media-video-websafe figure,
.gallery-slideshow-screen .slideshow-media-wrapper .media-youtube,
.gallery-slideshow-screen .slideshow-media-wrapper .media-youtube iframe,
.gallery-slideshow-screen .slideshow-media-wrapper .media-vimeo,
.gallery-slideshow-screen .slideshow-media-wrapper .media-vimeo-inner,
.gallery-slideshow-screen .slideshow-media-wrapper .media-vimeo-inner iframe {
	width: inherit;
	height: inherit;
}

.gallery-slideshow-screen .slideshow-media-box-item figure {
	margin: 0;
}

.gallery-slideshow-screen .slideshow-details-overlay {
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	{$BETA_CSS_PROPERTY,display: flex;}
	flex-direction: column;
	color: {$GET,BW};
	animation: cms-fade-in 0.3s ease-in-out;
	pointer-events: none;
	z-index: 10;
}

.gallery-slideshow-screen:not(.is-enabled-show-details) .slideshow-details-overlay,
.gallery-slideshow-screen .slideshow-media-box-item.is-loading .slideshow-details-overlay {
	display: none;
}

.gallery-slideshow-screen .slideshow-details-overlay .title a,
.gallery-slideshow-screen .slideshow-details-overlay .title a:hover {
	color: {$GET,BW};
	text-decoration: none;
}

.gallery-slideshow-screen .slideshow-details-overlay-top {
	padding: 10px 10px 0 10px;
	margin-bottom: 20px;
}

.gallery-slideshow-screen .slideshow-details-overlay-bottom {
	margin-top: auto;
	padding: 0 10px;
}

.gallery-slideshow-screen .slideshow-details-overlay-bottom .description {
	margin: 14px 0;
}

.gallery-slideshow-screen .slideshow-details-overlay-top,
.gallery-slideshow-screen .slideshow-details-overlay-bottom {
	pointer-events: auto;
	background: {$COLOR_RGBA,{$GET,WB},0.6};
}

.gallery-slideshow-screen .btn-slider-control {
	position: absolute;
	font-size: 50px;
	top: 50%;
	transform: translateY(-50%);
	background: transparent;
	border: none;
	cursor: pointer;
	transition: opacity 0.2s ease-in-out;
	color: {$COLOR_LIGHTEN,{$GET,BW},20%};
	opacity: 0.8;
}

.btn-slider-control:hover,
.btn-slider-control:focus {
	text-decoration: none;
	outline: 0;
	opacity: 1;
}

.gallery-slideshow-screen .btn-slider-control-prev {
	left: 10px;
}

.gallery-slideshow-screen .btn-slider-control-next {
	right: 20px;
}

.gallery-slideshow-screen .slideshow-progress-bar-fill {
	background: {$GET,seed};
	width: 0%;
	height: 5px;
}

.gallery-slideshow-screen .slideshow-carousel {
	/*flex-basis: 0;*/
	height: 100px;
	max-height: 100px;
	background: {$COLOR_LIGHTEN,{$GET,WB},20%};
	position: absolute;
	left: 0;
	right: 0;
	bottom: 0;
	overflow: hidden;
	text-align: center;
}

.gallery-slideshow-screen .slideshow-carousel .glide__track,
.gallery-slideshow-screen .slideshow-carousel .glide__slides,
.gallery-slideshow-screen .slideshow-carousel .glide__slide,
.gallery-slideshow-screen .slideshow-carousel .glide__slide a,
.gallery-slideshow-screen .slideshow-carousel .glide__slide .img-thumb {
	max-height: inherit;
}

.gallery-slideshow-screen .slideshow-carousel .glide__track,
.gallery-slideshow-screen .slideshow-carousel .glide__slides {
	height: 100%;
}

.gallery-slideshow-screen .slideshow-carousel .glide__slides {
	align-items: center;
}

.gallery-slideshow-screen .slideshow-carousel .glide__slide {
	{$BETA_CSS_PROPERTY,display: flex;}
	align-items: center;
	justify-content: center;
}

.gallery-slideshow-screen .slideshow-carousel-entry.is-current .img-thumb {
	opacity: 1;
}

.gallery-slideshow-screen .slideshow-menu {
	flex-basis: 0;
	order: 2;
	{$BETA_CSS_PROPERTY,display: flex;}
	flex-direction: column;
	background: {$COLOR_LIGHTEN,{$GET,WB},20%};
}

/*{+START,CSS_MODE,mobile}*/
	.gallery-slideshow-screen .slideshow-menu {
		order: 0;
		flex-direction: row;
		min-height: 35px;
	}
/*{+END}*/

.gallery-slideshow-screen .slideshow-menu .btn {
	border-radius: 0;
}

.gallery-slideshow-screen .slideshow-menu .btn.is-active {
	filter: brightness(1.2);
}

.gallery-slideshow-screen .slideshow-menu-middle {
	margin: auto;
	order: 1;
}
/*{+START,CSS_MODE,mobile}*/
	.gallery-slideshow-screen .slideshow-menu-middle {
		{$BETA_CSS_PROPERTY,display: flex;}
	}

	.gallery-slideshow-screen .slideshow-menu .btn-exit-slideshow {
		order: 2;
		position: absolute;
		right: 0;
	}
/*{+END}*/

.gallery-slideshow-screen .slideshow-tab {
	max-width: 400px;
	background: {$COLOR_DARKEN,{$GET,WB},26.8%};
	overflow: auto;
	order: 3;
}

.gallery-slideshow-screen .slideshow-tab.has-loading-indicator {
	width: 400px;
	text-align: center;
}

.gallery-slideshow-screen .slideshow-tab-inner {
	padding: 15px;
}

.gallery-slideshow-screen .slideshow-tab.is-dom-animate-toggling-width > .slideshow-tab-inner {
	width: var(--dom-animate-toggle-width);
}

.gallery-slideshow-screen .slideshow-tab-settings .setting {
	margin-bottom: 15px;
}

.gallery-slideshow-screen .slideshow-tab-settings .setting-label {
	display: inline-block;
	margin-right: 10px;
}

.gallery-slideshow-screen .slideshow-tab-settings .input-slide-duration {
	width: 100px;
}

/* Grid-mode only */

.gallery-grid-cell {
	margin-bottom: 20px;
}

/*{+START,CSS_MODE,desktop}*/
	.gallery-grid-cell-wrap {
		{$BETA_CSS_PROPERTY,display: flex;}
		flex-wrap: wrap;
		margin-left: -10px;
		margin-right: -10px;
	}

	.gallery-grid-cell {
		width: 50%;
		padding: 0 10px;
	}
/*{+END}*/

/*{+START,CSS_MODE,large_desktop}*/
	.gallery-grid-cell {
		width: 33.33333%;
	}
/*{+END}*/

/*{+START,CSS_MODE,mobile}*/
	.gallery-grid-cell {
		border-bottom: 1px solid {$GET,standard_border};
	}
/*{+END}*/

.gallery-grid-item .img-thumb-wrap {
	margin-bottom: 10px;
	overflow: hidden;
}

.gallery-grid-item .img-thumb-wrap .img-thumb {
	width: 100%;
	vertical-align: bottom; /* Removes gap under this centered inline image, by moving it to baseline */
	transition: transform 0.2s ease-in-out;
}

.gallery-grid-item:hover .img-thumb-wrap .img-thumb {
	transform: scale(1.1);
}

.gallery-grid-item .img-thumb-wrap a {
	display: block;
}

.gallery-grid-item .grating {
	margin: 0.5em 0;
}

.gallery-grid-item .grating .rating-display-star {
	width: 18px;
	height: 18px;
}

.gallery-grid-item-details {
	margin-bottom: 10px;
}

/* Carousel-mode only */

.gallery-carousel-mode-entry .entry-title,
.gallery-carousel-mode-entry .entry-description {
	text-align: center;
}

.gallery-carousel-mode-entry .video-details .results-table {
	width: 100%;
}

.carousel-mode-thumb {
	display: inline-block;
	transform: scale(1); /* Needed to stop size jerk during animation, by forcing it as a layer at all times */
	text-align: center;
}

.carousel-mode-thumb .img-thumb {
	opacity: 1.0;
	transform: scale(1); /* Needed to stop size jerk during animation, by forcing it as a layer at all times */
}

.carousel-mode-other-gallery-images {
	margin-top: 10px;
	padding-top: 10px;
	border-top: 1px solid {$GET,standard_border};
}

.carousel-mode-other-gallery-images .head {
	{$BETA_CSS_PROPERTY,display: flex;}
	align-items: center;
	margin-bottom: 10px;
}

/*{+START,CSS_MODE,mobile__overlay}*/
	.carousel-mode-other-gallery-images .head {
		display: block;
	}
/*{+END}*/

.carousel-mode-other-gallery-images .glide {
	background-color: {$GET,main_2_background};
}

.carousel-mode-other-gallery-images .sorting-and-slideshow-btn {
	margin-left: auto;
	white-space: nowrap;
}

.glide-other-gallery-images .glide__slides {
	align-items: center;
}

.glide-other-gallery-images .btn-glide-go {
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	display: none;
}

.glide-other-gallery-images.has-multiple-views:hover .btn-glide-go,
.glide-other-gallery-images.has-multiple-views.focus-within .btn-glide-go,
.is-touch-enabled .glide-other-gallery-images.has-multiple-views .btn-glide-go {
	display: inline-block;
	animation: cms-fade-in 0.3s ease-in-out;
}

html:not(.is-touch-enabled) .glide-other-gallery-images.has-multiple-views:not(:hover):not(.focus-within) .btn-glide-go.did-fade-in {
	display: inline-block;
	animation: cms-fade-out 0.3s ease-in-out;
}

.glide-other-gallery-images .btn-glide-prev {
	left: 5px;
}

.glide-other-gallery-images .btn-glide-next {
	right: 5px;
}

/* Mosaic-mode only */

.gallery-mosaic-items {
	position: relative;
}

.gallery-mosaic-item,
.gallery-mosaic-masonry-sizer {
	margin-bottom: 10px;
	width: 100%;
	position: relative;
}

/*{+START,CSS_MODE,desktop}*/
	.gallery-mosaic-items {
		margin-right: -10px;
	}

	.gallery-mosaic-item,
	.gallery-mosaic-masonry-sizer {
		width: calc(50% - 10px);
	}
/*{+END}*/

/*{+START,CSS_MODE,large_desktop}*/
	.gallery-mosaic-item,
	.gallery-mosaic-masonry-sizer {
		width: calc(100% / 3 - 10px);
	}
/*{+END}*/

.gallery-mosaic-item .mass-select-marker {
	display: none;
}

/*{+START,CSS_MODE,desktop}*/
	.gallery-mosaic-item.is-mass-selected {
		outline: 5px solid {$GET,seed};
	}

	.gallery-mosaic-item .mass-select-marker {
		position: absolute;
		right: -32px;
		top: 0;
		z-index: 1;
		background: {$GET,BW};
	}

	.gallery-mosaic-item:hover .mass-select-marker,
	.gallery-mosaic-item.focus-within .mass-select-marker,
	.gallery-mosaic-item.is-mass-selected .mass-select-marker {
		display: block;
		animation: cms-fade-in 0.3s ease-in-out;
	}

	.gallery-mosaic-item:not(:hover):not(.focus-within):not(.is-mass-selected) .mass-select-marker.did-fade-in {
		display: block;
		animation: cms-fade-out 0.3s ease-in-out;
	}
/*{+END}*/

.gallery-mosaic-item-inner {
	display: block;
	width: 100%;
	height: 100%;
	color: {$GET,BW};
	overflow: hidden;
}

.gallery-mosaic-item-inner:hover {
	color: {$GET,BW};
}

.gallery-mosaic-item .img-thumb {
	width: 100%;
	transition: transform 0.3s ease-in-out;
}

.gallery-mosaic-item:hover .img-thumb,
.gallery-mosaic-item.focus-within .img-thumb {
	transform: scale(1.1);
}

.gallery-mosaic-item-overlay {
	display: none;
}

.gallery-mosaic-item:hover .gallery-mosaic-item-overlay,
.gallery-mosaic-item.focus-within .gallery-mosaic-item-overlay,
.block-main-gallery-mosaic.is-enabled-show-details .gallery-mosaic-item-overlay {
	display: block;
	animation: cms-fade-in 0.3s ease-in-out;
}

.block-main-gallery-mosaic:not(.is-enabled-show-details) .gallery-mosaic-item:not(:hover):not(.focus-within) .gallery-mosaic-item-overlay.did-fade-in {
	display: block;
	animation: cms-fade-out 0.3s ease-in-out;
}

.gallery-mosaic-item-overlay-top {
	position: absolute;
	top: 0;
	right: 0;
	left: 0;
	padding: 5px 10px;
	background-image: linear-gradient(to bottom, {$COLOR_RGBA,{$GET,WB},0.8}, {$COLOR_RGBA,{$GET,WB},0.4});
}

.gallery-mosaic-item-overlay-top .rating-display-star {
	color: {$GET,BW};
}

.gallery-mosaic-item-overlay-top .views {
	margin-right: 5px;
}

.gallery-mosaic-item-overlay-top .comments strong {
	font-weight: normal;
}

/*{+START,CSS_MODE,desktop}*/
	.gallery-mosaic-item-overlay-top .views span,
	.gallery-mosaic-item-overlay-top .comments span {
		display: none;
	}
/*{+END}*/

.gallery-mosaic-item-overlay-bottom {
	position: absolute;
	right: 0;
	left: 0;
	bottom: 0;
	padding: 5px 10px;
	background-image: linear-gradient(to bottom, {$COLOR_RGBA,{$GET,WB},0.4}, {$COLOR_RGBA,{$GET,WB},0.8});
}

.gallery-mosaic-item-overlay-bottom .title {
	margin-bottom: 0;
}

/* Viewing entries */

.gallery-entry-screen {
	width: 100%;
	min-height: 100%;
}

.gallery-entry-screen .entry-description {
	overflow: hidden;
}

.media-box .box {
	margin-top: 0;
}

.media-box embed,
.media-box object {
	max-width: 100%;
}

/* side_galleries block */

.side-galleries-block p {
	margin-top: 0.5em;
}

.side-galleries-block-exp {
	overflow: hidden;
	display: block;
	text-align: left;
	font-weight: bold;
	background: none;
	color: {$GET,slightly_seeded_text};
}

.side-galleries-block ul.compact-list {
	margin: 0;
	padding: 0;
}

.side-galleries-block ul.compact-list li {
	margin: 0 0 0 22px;
	padding: 0;
}

/* Image fader block */

.gallery-tease-pic-wrap {
	margin-bottom: 1.5em;
}

.gallery-tease-pic-wrap h2,
.gallery-tease-pic-wrap h3 {
	max-width: 18em;
}

.gallery-tease-pic {
	margin: 0 auto;
	box-shadow: 3px 3px 10px {$GET,point_of_interest_border};
}
/*{+START,CSS_MODE,desktop}*/
	.gallery-tease-pic {
		width: 40em;
	}
/*{+END}*/

.gallery-tease-pic-pic {
	float: right;
	margin-left: 0.5em;
	text-align: right;
}

.gallery-tease-pic > .box {
	border-bottom-right-radius: 0;
}

#tease-scrolling-text {
	width: 23em;
}

/* Make sure it fits okay on the side panel */
.global-side-panel .gallery-tease-pic {
	width: auto;
}

.global-side-panel .gallery-tease-pic-wrap h2,
.global-side-panel .gallery-tease-pic-wrap h3 {
	display: none;
}

/* Miscellaneous media handling */

.gallery-pdf {
	width: 100%;
	height: 600px;
}

.gallery-box {
	{$BETA_CSS_PROPERTY,display: flex;}
	padding-bottom: 20px;
	margin-bottom: 20px;
	border-bottom: 1px solid {$GET,standard_border};
}

.gallery-box-thumb {
	min-width: 40%;
	overflow: hidden;
}

/*{+START,CSS_MODE,desktop}*/
	.gallery-box-thumb {
		width: 40%;
	}
/*{+END}*/

.gallery-box-thumb .img-thumb {
	width: 100%;
	opacity: 1;
	background: {$GET,main_2_background};
	transition: transform 0.3s ease-in-out;
}

.gallery-box-thumb:hover .img-thumb {
	transform: scale(1.1);
}

.gallery-box-details {
	padding: 0 20px;
	flex-grow: 1;
}

.gallery-box-contents-list {
	padding-left: 1.5em;
}

.gallery-box .buttons-group {
	text-align: left;
	margin-bottom: 0;
}

.gallery-box-meta {
	padding: 10px 0;
	border-top: 1px solid {$GET,standard_border};
	border-bottom: 1px solid {$GET,standard_border};
	margin-bottom: 14px;
}

/*{+START,CSS_MODE,mobile}*/
	.gallery-box {
		display: block;
	}

	.gallery-box-thumb {
		min-width: auto;
		margin-bottom: 10px;
	}

	.gallery-box-details {
		padding: 0;
	}
/*{+END}*/

/* Homepage Hero Slider */

#slider-homepage-hero {
	background: {$COLOR_LIGHTEN,{$GET,BW},33.5%};
	overflow: hidden;
	position: relative;
	color: {$GET,WB};
}

#slider-homepage-hero .cms-slider-inner {
	min-height: inherit;
}

#slider-homepage-hero .cms-slider-item {
	min-height: inherit;
	overflow: hidden;
	background-position: center;
	background-size: cover;
}

#slider-homepage-hero .cms-slider-item-inner {
	min-height: inherit;
	overflow: hidden;
	background: rgba(0, 0, 0, 0.3);
	text-align: center;
	z-index: 1;
	position: relative;
}

#slider-homepage-hero .cms-slider-item-inner .container {
	padding-top: 50px;
	padding-bottom: 50px;
	position: relative;
}

/*{+START,CSS_MODE,mobile}*/
#slider-homepage-hero .cms-slider-item-inner {
	/*padding-top: 100px;*/
	padding-top: 0;
	padding-bottom: 0;
}
/*{+END}*/

#slider-homepage-hero .contrast-box {
	display: table;
	margin: 0 auto;
	max-width: 728px;
}

#slider-homepage-hero .contrast-box .h1 {
	margin-bottom: 0.5em !important;
}

#slider-homepage-hero .contrast-box .h3 {
	margin-bottom: 1em !important;
}

#slider-homepage-hero .contrast-box .h5 {
	max-width: 660px;
	line-height: 1.8;
}

#slider-homepage-hero .contrast-box.h5 > div {
	margin-bottom: 10px;
}

#slider-homepage-hero .contrast-box.h5 > div > a {
	margin: 10px;
}

html.has-header-modern #slider-homepage-hero.cms-slider-fullscreen,
html.has-header-side #slider-homepage-hero.cms-slider-fullscreen {
	min-height: 100vmin;
}

html.has-header-modern #slider-homepage-hero.cms-slider-fullscreen .cms-slider-item-inner,
html.has-header-side #slider-homepage-hero.cms-slider-fullscreen .cms-slider-item-inner {
	{$BETA_CSS_PROPERTY,display: flex;}
	align-items: center;
}
