/*
 {$BRAND_NAME`}
 Copyright (c) Christopher Graham, 2004-2024
*/

/* Bubble bar charts */

.bubble-bar-chart-wrap .graph-heading {
	margin-top: 0;
	font-weight: bold;
	text-align: center;
}

.bubble-bar-chart-legend {
	float: right;
	margin: 0 25px;
	font-size: 12px;
}
/*{+START,CSS_MODE,mobile}*/
	.bubble-bar-chart-legend {
		margin: 0 5px;
	}
/*{+END}*/

.bubble-bar-chart-legend-inner {
	{$BETA_CSS_PROPERTY,display: inline-flex;}
	flex-wrap: wrap;
	gap: 5px 15px;
}

.bubble-bar-chart-legend-item-inner {
	white-space: nowrap;
}

.bubble-bar-chart-legend .bubble-bar-chart-cell {
	vertical-align: middle;
}

.bubble-bar-chart-sizing {
	margin: 0 auto;
}

table.bubble-bar-chart {
	border: 0;
	border-collapse: collapse;
	line-height: normal;
	width: 100%;
}

table.bubble-bar-chart th.full-width-label {
	padding-top: 5px;
	text-align: center;
}

table.bubble-bar-chart thead th {
	padding: 0 20px 6px 20px;
}

table.bubble-bar-chart thead th, table.bubble-bar-chart td {
	text-align: center;
}

table.bubble-bar-chart th, table.bubble-bar-chart td {
	vertical-align: middle;
}

table.bubble-bar-chart tbody th {
	text-transform: none;
	font-weight: normal;
	height: 24px;
}

table.bubble-bar-chart thead th h2 {
	font-size: 1.3em;
}

table.bubble-bar-chart thead th h3 {
	font-size: 1.2em;
}

table.bubble-bar-chart td {
	font-size: 0;
}

table.bubble-bar-chart th, table.bubble-bar-chart td {
	white-space: nowrap;
	padding: 0;
	margin: 0;
}

.bubble-bar-chart-cell {
	display: inline-block;
	width: 14px;
	height: 14px;
	border-radius: 2px;
}

@media all and (max-width: 940px) {
	table.bubble-bar-chart thead th {
		padding: 0 10px 6px 10px;
	}
}

@media all and (max-width: 770px) {
	.bubble-bar-chart-sizing {
		width: 100% !important;
		height: 100% !important;
		margin: 0;
	}

	.bubble-bar-chart-wrap .graph-heading {
		float: left;
	}

	table.bubble-bar-chart thead th {
		padding: 0 5px 6px 5px;
	}
}

/*{+START,CSS_MODE,mobile}*/
	.bubble-bar-chart-wrap .graph-heading {
		margin-bottom: 0;
	}

	.bubble-bar-chart-legend {
		margin-bottom: 5px;
	}

	table.bubble-bar-chart td {
		padding: 5px;/*Not using em as we turned the font size down to 0*/
	}
/*{+END}*/
