/*
 {$BRAND_NAME`}
 Copyright (c) Christopher Graham, 2004-2024
*/

.global-helper-panel {
	position: relative;
}
/*{+START,CSS_MODE,desktop}*/
	.global-helper-panel {
		padding: 1em;
		min-height: 450px;
	}
/*{+END}*/
/*{+START,CSS_MODE,mobile}*/
	.global-helper-panel {
		padding: 0 1em;
		clear: both;
	}
/*{+END}*/

.helper-panel-visible {
	transition: width 0.2s linear !important;
}
/*{+START,CSS_MODE,desktop}*/
	.helper-panel-visible {
		min-width: 265px;
	}
	.helper-panel-hidden {
		width: 30px !important;
		min-width: 30px !important;
		max-width: 30px !important;
	}

	.page-running-admin-phpinfo .helper-panel {
		position: absolute;
		right: 0;
		margin-top: 3em;
	}
/*{+END}*/

.global-helper-panel-wrap {
	border: 1px solid {$GET,pale_border};
	background-color: {$GET,area_3_background};
	overflow: hidden;
	position: relative;
	margin-top: 1em;
	margin-bottom: 1em;
	border-top-left-radius: 15px;
	border-bottom-left-radius: 15px;
}
/*{+START,CSS_MODE,mobile}*/
	.global-helper-panel-wrap {
		border-top-right-radius: 15px;
		border-bottom-right-radius: 15px;
		margin-top: 3em;
		padding: 0.5em;
	}
/*{+END}*/

#helper-panel-toggle {
	outline: 0;
	float: right;
	text-align: right;
}
/*{+START,CSS_MODE,desktop}*/
	#helper-panel-toggle {
		margin: 12px 6px;
	}

	#helper-panel-toggle img {
		vertical-align: middle;
	}
/*{+END}*/
/*{+START,CSS_MODE,mobile}*/
	#helper-panel-toggle {
		margin: 15px 6px;
		width: 40px;
		height: 20px;
		background-position: 20px 0 !important;
	}
	#helper-panel-toggle .icon {
		display: none;
	}
	.helper-panel-hidden #helper-panel-toggle {
		background: url('{$IMG;,icons/trays/expand}') no-repeat;
		background-size: 20px 20px;
	}
	.helper-panel-visible #helper-panel-toggle {
		background: url('{$IMG;,icons/trays/contract}') no-repeat;
		background-size: 20px 20px;
	}
/*{+END}*/

/*{+START,CSS_MODE,mobile}*/
	.global-helper-panel-wrap h2 {
		border: 0 !important;
		padding: 0 !important;
	}
/*{+END}*/

.global-side-panel .global-helper-panel .box {
	font-size: 1em;
}

.global-helper-panel-text {
	z-index: 4;
	position: relative;
}

.global-helper-panel-text-over {
}
