/*
 {$BRAND_NAME}
 Copyright (c) Christopher Graham, 2004-2024
*/

/*{+START,INCLUDE,_install_colours,.css,css,default}{+END}*/

/* Global */

#installer-body {
	background-image: linear-gradient(to bottom, {$GET,installer_background_a}, {$GET,installer_background_b});
	background-repeat: no-repeat;
}

/*{+START,CSS_MODE,desktop}*/
	.installer-main {
		text-align: center;
		margin: 2.5em 0 1em 0;
	}
/*{+END}*/

.installer-main img {
	display: inline-block;
}
/*{+START,CSS_MODE,mobile}*/
	.installer-main img {
		width: 100%;
		height: auto;
	}
/*{+END}*/
/*{+START,CSS_MODE,desktop}*/
	.installer-main img {
		margin-bottom: 2.6em;
	}
/*{+END}*/

.installer-main-inner > .box {
}

/*{+START,CSS_MODE,desktop}*/
	.installer-main-min {
		min-height: 350px;
	}
/*{+END}*/
/*{+START,CSS_MODE,mobile}*/
	.installer-main-inner {
		margin: 3px;
	}
/*{+END}*/

.installer-main-min th, .installer-main-min td {
	vertical-align: middle;
}

.installer-version {
	margin-top: 25px;
	font-size: 0.8em;
	text-align: center;
	clear: both;
}

.installer-version,
.installer-version a,
.installer-version a:visited {
	color: {$GET,installer_background_text};
}

.installer-version a:hover {
	color: {$GET,installer_background_text_hover};
}

/* Re-used */

.installer-left-column {
	width: 40%;
}

.installer-right-column {
	width: 60%;
}

.installer-input-left-column {
	width: 30%;
}

.installer-input-right-column {
	width: 70%;
}

.long-warning ul {
	overflow: auto;
	max-height: 400px;
}

.long-warning li {
	list-style-type: circle;
}

.installer-warning, .installer-notice {
	background-color: {$GET,external_tool_background};
	border: 1px solid {$GET,pale_border};
	padding: 1em;
	border-radius: 5px;
}

.installer-warning {
	color: {$GET,red_highlight_text};
}

.installer-notice {
	color: {$GET,green_highlight_text};
}

.up-alert {
	text-transform: uppercase;
}

.radio-horiz-spacer {
	padding-left: 2em;
}

.actions-list-strong {
	font-weight: bold;
}

textarea.mono-textbox {
	font-family: 'Courier New', 'Courier', monospace;
}

/* Step 1 */

#install-welcome {
	background-color: {$GET,point_of_interest_background};
	border: 1px solid {$GET,point_of_interest_border};
	border-radius: 5px;
	text-align: center;
	padding: 0.5em 0;
	margin: 2em 0;
}

#install-newsletter {
	border: 1px dotted {$GET,standard_border};
	border-radius: 5px;
	float: right;
	margin-left: 15px;
	background-color: {$GET,area_background};
	padding: 0.5em;
}

#install-newsletter p {
	margin-top: 0;
	max-width: 640px;
}

/* Step 2 */

.installer-terms-title {
	padding: 1em 0 1.5em 1em;
}

.installer-cms-licence {
	margin-bottom: 2em;
}

/* Step 3 */

.installer-forums {
	text-align: left;
	border: 1px solid {$GET,standard_border};
	border-collapse: collapse;
	width: 90%;
	margin: 0 auto;
}

.installer-forums th {
	padding: 0;
}

.installer-forums th > div {
	text-align: left;
	font-weight: bold;
	padding: 0.5em;
}
/*{+START,CSS_MODE,desktop}*/
	.installer-forums th {
		background-color: {$GET,area_faded_background};
	}

	.installer-forums th > div {
		width: 75%;
		height: 100%;
		margin: 0 auto;
		border-bottom: 1px dotted {$GET,standard_border};
		background-color: {$GET,area_faded_background};
	}

	.installer-forums th > div.left {
		border-left: 1px dotted {$GET,standard_border};
		float: right;
	}

	.installer-forums th > div.right {
		border-right: 1px dotted {$GET,standard_border};
		float: left;
		text-align: right;
	}
/*{+END}*/

.installer-forums td {
	vertical-align: top !important;
	padding: 1em;
}

.installer-forums td div {
	margin: 0.75em 0;
}

.installer-forum-list {
	background-color: {$GET,area_background};
	width: 65%;
	border-right: 1px dotted {$GET,standard_border};
}

.installer-forum-version {
	background-color: {$GET,area_background};
}

/* Step 4 */

.installer-section {
	text-align: left;
}
/*{+START,CSS_MODE,desktop}*/
	.installer-section {
		margin: 2em auto;
	}
/*{+END}*/

.installer-section kbd {
	overflow-wrap: break-word;
}

/* After Step 4 */

.install-log-table {
	border: 1px solid {$GET,dark_border};
	border-collapse: collapse;
	display: inline-block;
	background-color: {$GET,point_of_interest_background};
	color: {$GET,area_key_text};
	padding: 1em;
	margin: 1em;
}

.install-log-table > p:first-child {
	margin-top: 0;
}

.installer-completed-calltoaction {
	margin-top: 1em;
	font-size: 1.1em;
}

/* Step 10 */

.installer-done-thanks {
	float: right;
	margin-right: 0.5em;
}

/* Backup system */

.box---restore-html-wrap {
	overflow: hidden;
}

/* Errors */

.site-special-message-inner {
	overflow: hidden;
}
