/*
 {$BRAND_NAME`}
 Copyright (c) Christopher Graham, 2004-2024
*/

.page-running-login #main-website-inner {
	background-color: {$GET,main_background};
}

/*{+START,CSS_MODE,desktop__overlay}*/
	.login-page {
		background: url('{$IMG;,backgrounds/background_image}') no-repeat 20px 44px;
		background-size: 216px 255px;
		text-align: center;
		padding: 0.5em;
		margin: 0 auto;
		min-height: 300px;
	}
/*{+END}*/

.login-page input[type="text"], .login-page input[type="password"] {
	background-color: rgba(255,255,255,0.5);
}

.login-page .box {
	margin-top: 0;
}

/*{+START,CSS_MODE,mobile__overlay}*/
	.login-page-form, .login-page-form > tbody, .login-page-form > thead, .login-page-form > tbody > tr, .login-page-form > thead > tr, .login-page-form > tr, .login-page-form > tbody > tr > th, .login-page-form > thead > tr > th, .login-page-form > tr > th, .login-page-form > tbody > tr > td, .login-page-form > thead > tr > td, .login-page-form > tr > td {
		display: block;
		width: auto;
		overflow: hidden;
		text-align: left;
	}

	.login-page-form label {
		display: inline-block;
		margin-bottom: 0;
	}

	.login-page-form label .must-show-together {
		white-space: normal !important;
	}
/*{+END}*/

table.login-page-form {
	margin-top: 1em;
}
/*{+START,CSS_MODE,desktop__overlay}*/
	table.login-page-form {
		width: 45%;
		float: left;
		margin-right: 1em;
	}
/*{+END}*/

.login-page-form th {
	text-align: right;
	padding-right: 6px;
	font-weight: bold !important;
	vertical-align: middle !important;
}

.login-page-form td {
	text-align: left;
	vertical-align: middle !important;
}

.login-page-options {
	text-align: left;
	margin-top: 0.5em;
}
/*{+START,CSS_MODE,desktop__overlay}*/
	.login-page-options {
		width: 278px; /* On Firefox Windows it needs more space than Chrome Windows which needs more space than Chrome Mac */
		float: left;
	}
/*{+END}*/

.login-page-options label {
	display: block;
}

.login-page-options .associated-details {
	{$BETA_CSS_PROPERTY,display: inline-flex;}
}

.login-note {
	font-size: 0.85em;
	opacity: 0.9;
}
/*{+START,CSS_MODE,mobile__overlay}*/
	.login-note a {
		padding-right: 0.5em;
	}
	.login-note br {
		display: none;
	}
/*{+END}*/

.login-note a {
	font-size: 1.1em;
}
