/*
 {$BRAND_NAME`}
 Copyright (c) Christopher Graham, 2004-2024
*/

/* Embossed menus should be flush to their box */
.box---block-menu-embossed > .box-inner > h3 {
	margin: 0;
	padding-left: 0;
	padding-right: 0;
}
.box---block-menu-embossed > .box-inner {
	margin: 0;
	position: relative;
}
.box---block-menu-embossed > .box-inner .inline-wip-message {
	margin: 0.5em;
}
.box---block-menu-embossed .edit-menu-link-inline {
	position: absolute;
	right: 0;
	bottom: 1px;
}
.box---block-menu-embossed nav, .box---block-menu-embossed li {
	border-left: 0;
	border-right: 0;
}
.box---block-menu-embossed nav, .box---block-menu-embossed li:last-child {
	border-bottom-left-radius: 5px;
	border-bottom-right-radius: 5px;
	border-bottom: 0;
}

.menu-type--embossed {
	overflow: hidden;
	border-left: 1px solid {$GET,standard_border};
	border-right: 1px solid {$GET,standard_border};
	border-bottom: 1px solid {$GET,standard_border};
}

.menu-type--embossed, .menu-type--embossed li {
	background-color: {$GET,area_background};
}

.menu-type--embossed li {
	border-top: 1px solid {$GET,standard_border};
}

.menu-type--embossed li.current {
	background-color: {$GET,area_highlight_left_complement_background} !important;
	font-weight: bold;
}

.menu-type--embossed li:hover {
	background-color: {$GET,area_highlight_right_complement_background} !important;
	transition: color,background-color 0.5s linear;
}

.menu-type--embossed a {
	display: block;
	padding: 0.4em 0.5em;
	outline: 0;
}

.menu-type--embossed a, .menu-type--embossed a:visited, .menu-type--embossed a:hover {
	text-decoration: none;
}

.menu-type--embossed img, .menu-type--embossed span {
	vertical-align: middle;
}

.menu-type--embossed img {
	margin-right: 0.5em;
	width: 20px;
}
