/*
 {$BRAND_NAME`}
 Copyright (c) Christopher Graham, 2004-2024
*/

.menu-editor-page {
	{$BETA_CSS_PROPERTY,user-select: none;}
}

/*{+START,CSS_MODE,desktop}*/
	.menu-editor-page.non-docked {
		min-height: 400px;
	}

	.menu-editor-page.docked {
		overflow-y: auto;
		margin-right: 1em;
		padding-right: 0.5em;
	}

	.menu-editor-page::-webkit-scrollbar {
		width: 0.5em;
	}
	.menu-editor-page::-webkit-scrollbar-track {
		box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	}
	.menu-editor-page::-webkit-scrollbar-thumb {
		background-color: darkgrey;
		outline: 1px solid slategrey;
	}

	.menu-editor-page.docked #mini-form-hider {
		margin-top: 1em;
		border-top: 3px dotted {$GET,divider_line} !important;
		position: fixed;
		left: 0;
		bottom: 0;
		background-color: {$GET,floating_section_background};
		font-size: 0.9em;
		width: 100%;
		padding: 0 0.5em;
		z-index: 1000;
	}

	.dock-button {
		float: right;
		margin-right: 0.5em;
		padding: 0.5em;
		cursor: pointer;
	}

	.menu-editor-lh-side {
		margin-right: 470px;
	}
/*{+END}*/
/*{+START,CSS_MODE,mobile}*/
	.dock-button {
		display: none;
	}
/*{+END}*/

.menu-editor-lh-side .field-name-column {
	width: 11em;
}

.menu-editor-lh-side select {
	max-width: 100%;
}

/*{+START,CSS_MODE,desktop}*/
	.docked #tree-list--root-tree-list {
		overflow-y: scroll;
		max-height: 200px;
	}
/*{+END}*/

.menu-editor-rh-side {
	font-size: 0.9em;
	line-height: 1.5em;
}
/*{+START,CSS_MODE,desktop}*/
	.menu-editor-rh-side {
		float: right;
		margin-left: 20px;
		width: 450px;
	}
/*{+END}*/

/*
=============
Branch layout
=============
*/

.menu-editor-root {
	margin-right: 1px;
}

.menu-editor-branch-wrap {
	margin-right: -1px; /* To make nested rhs borders align; this is why menu-editor-root has 1px extra margin */
}

 .menu-editor-branch {
	border: 1px solid {$GET,standard_border};
	margin-top: -1px;
	background-color: {$GET,area_3_background};
}

.menu-editor-branch-inner {
	padding: 0.5em;
}

.menu-editor-branch * {
	vertical-align: middle;
}

.menu-editor-branch-indent {
	padding-left: 1em;
}

.menu-editor-branch-indent > div {
	margin-top: 1em;
}

/* Undoes main actions-list style */
.menu-editor-branch-wrap .actions-list {
	margin: 0.5em 0;
}
.menu-editor-branch-wrap .actions-list li {
	background: none;
	padding-left: 0 !important;
	margin-left: 0 !important;
}

/*
=====================
Branch layout (inner)
=====================
*/

.menu-editor-selected-field {
	background-color: {$GET,native_ui_active_background} !important;
}

#menu-editor-wrap input#url {
	width: 60em;
	max-width: calc(100% - 70px);
}

.menu-editor-branch input[type="text"] {
	background: url('{$IMG;,icons/buttons/proceed2}') right center no-repeat white;
	background-size: 16px 16px;
	cursor: pointer;
	width: 14em;
}

.menu-editor-branch input[type="text"]:focus {
	cursor: text !important;
}

.menu-editor-branch .btn-danger {
	float: right;
}
