/*
 {$BRAND_NAME`}
 Copyright (c) Christopher Graham, 2004-2024
*/

.mobile-menu-button {
	text-decoration: none;
	color: {$GET,WB} !important;
	position: absolute;
	padding: 0.75em;
}
.mobile-menu-button:hover {
	color: {$GET,WB};
	text-decoration: none;
}
.mobile-menu-button:hover span {
	text-decoration: underline;
}

.mobile-menu-button * {
	vertical-align: middle;
}

.mobile-menu-button::after {
	padding-left: 0.25em;
	content: "\25bc"; /* Downward triangle arrow */
	vertical-align: middle;
	font-size: 0.85em;
}

.mobile-search {
	text-align: center;
	padding: 1em 0;
	background-color: {$GET,area_5_background};
}

.menu-type--mobile {
	position: absolute;
	left: 0;
	top: 3.4em;
	width: 100%;
	z-index: 1000;
	box-shadow: 0px 20px 25px 0px {$GET,dark_border};
}

.menu-type--mobile > ul {
	border-bottom: 1px solid {$GET,standard_border};
}

.menu-type--mobile ul {
	background-color: {$GET,area_5_background};
	padding-bottom: 0;
}

.menu-type--mobile li {
	border-top: 1px solid {$GET,standard_border};
	background: url('{$IMG;,icons/buttons/proceed}') transparent no-repeat top 1em right 1em;
	background-size: 24px 24px;
	color: {$GET,BW};
}

.menu-type--mobile li.current, .menu-type--mobile li:hover {
	background-color: {$GET,area_hover_2_background};
}

.menu-type--mobile li a {
	padding: 1em !important;
	display: block;
	color: inherit;
	text-decoration: none;
}

.menu-type--mobile li img {
	padding-right: 0.5em;
}

.menu-type--mobile ul ul li {
	padding-left: 2em;
	border-left: 1px solid {$GET,standard_border};
}
