/*
 {$BRAND_NAME`}
 Copyright (c) Christopher Graham, 2004-2024
*/

.menu-type--popup {
	min-width: 15em;
	max-width: 30em; /* Really this is just to make the screen preview work! Normally a panel would constrain the width. */
}
.box .menu-type--popup {
	min-width: 0;
}

.menu-type--popup ul {
	line-height: 1.4em;
	border-top: 1px solid {$GET,standard_border};
	border-left: 1px solid {$GET,standard_border};
	border-right: 1px solid {$GET,standard_border};
}

.menu-type--popup ul ul {
	margin-top: -1px;
}

.menu-type--popup li {
	padding: 0.4em 0.5em;
}

.menu-type--popup .nlevel li {
	white-space: nowrap;
}

.menu-type--popup .menu-spacer, .menu-type--popup li {
	background-color: {$GET,area_background} !important;
	border-bottom: 1px solid {$GET,standard_border};
}

.menu-type--popup li.current {
	background-color: {$GET,area_highlight_left_complement_background} !important;
}

.menu-type--popup li:hover {
	background-color: {$GET,area_highlight_right_complement_background} !important;
	transition: color,background-color 0.5s linear;
}

.menu-type--popup ul li a { /* ul li added to ensure precedence over ".nl li" selector, while not forcing us to use up our only !important */
	padding-left: 14px;
	display: inline-block; /* This says that we want to encourage greedy space consumption rather than wrapping */
}

.menu-type--popup li a, .menu-type--popup li a:visited {
	color: {$GET,a.link};
}
.menu-type--popup li a:hover {
	color: {$GET,a.hover} !important;
}

.menu-type--popup li.current > a {
	font-weight: bold;
}

.menu-type--popup .has-img > img {
	width: 20px;
}

.menu-type--popup a {
	background-size: 6px 6px !important;
}

.menu-type--popup .current a {
	background: transparent url('{$IMG;,icons/menus/menu_bullet_current}') no-repeat 5px 5px !important;
}
.menu-type--popup .has-img.current > a {
	background: none !important;
}

.menu-type--popup .non-current a {
	background: transparent url('{$IMG;,icons/menus/menu_bullet}') no-repeat 5px 5px;
}

.menu-type--popup .non-current a:hover {
	background: transparent url('{$IMG;,icons/menus/menu_bullet_hover}') no-repeat 5px 5px;
}

.menu-type--popup a, .menu-type--popup a:visited {
	text-decoration: none;
}

.menu-type--popup a:hover {
	text-decoration: underline;
	cursor: pointer;
}

.menu-type--popup img {
	width: 20px;
}
