/*
 {$BRAND_NAME`}
 Copyright (c) Christopher Graham, 2004-2024
*/

.menu-type--tree ul {
	margin: 2px 0 0 0 !important;
}

.menu-type--tree ul ul {
	padding-left: 24px;
}

.menu-type--tree li {
	padding: 3px 5px 3px 0 !important;
}

.menu-type--tree ul li a { /* ul li added to ensure precedence over ".nl li" selector, while not forcing us to use up our only !important */
	padding-left: 14px;
	display: inline-block; /* This says that we want to encourage greedy space consumption rather than wrapping */
}

.menu-type--tree a {
	background-size: 6px 6px !important;
}

.menu-type--tree .non-current a {
	background: transparent url('{$IMG;,icons/menus/menu_bullet}') no-repeat 5px 5px;
}

.menu-type--tree .non-current a:hover {
	background: transparent url('{$IMG;,icons/menus/menu_bullet_hover}') no-repeat 5px 5px;
}

.menu-type--tree .current a {
	background: transparent url('{$IMG;,icons/menus/menu_bullet_current}') no-repeat 5px 5px;
}

.menu-type--tree .has-no-img > .drawer {
	background: url('{$IMG;,icons/menus/menu_bullet_expand}') no-repeat 5px 5px !important;
}

.menu-type--tree .has-no-img > .drawer:hover {
	background: url('{$IMG;,icons/menus/menu_bullet_expand_hover}') no-repeat 5px 5px !important;
}

.menu-type--tree img {
	width: 20px;
}
