/*
 {$BRAND_NAME`}
 Copyright (c) Christopher Graham, 2004-2024
*/

/*
The dropdown CSS is generally split into "toplevel" and "nlevel", with a different set of HTML and rules for each.
"nlevel" is everything other than the top level.

For example:
 "toplevel" makes the whole li clickable by making the inside anchor a block. The image is in the link.
 "nlevel" has the image to the left of the anchor, like with most of the other menu types.
*/


/* For a Comcode page we probably don't want to fit it alongside other stuff, so wrap the floats */
.comcode-page .menu-dropdown {
	overflow: hidden;
}

.menu-dropdown-items {
	margin-bottom: 0;
	padding-left: 0;
	list-style: none;
}

.menu-dropdown-items.nlevel {
	display: none;
}

.menu-dropdown-item-a,
.menu-dropdown-item-a:hover {
	display: block;
	text-decoration: none;
	transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out;
}

.menu-dropdown-item-icon {
	margin-right: 0.3em;
}

.menu-dropdown-item-icon .icon {
	width: 16px;
	height: 16px;
}

.menu-dropdown-item-a.toplevel-link {
	font-weight: {$GET,font_weight_medium};
}

.menu-dropdown .top-buttons {
	justify-content: space-around;
	position: relative;
	border-top: 1px solid {$GET,standard_border};
	background-color: {$GET,area_5_background};
	transition: box-shadow  0.15s ease-in-out
}

.menu-dropdown.is-items-main-scrolled-inside .top-buttons {
	box-shadow: {$GET,box_shadow};
}

.menu-dropdown .top-button {
	padding-top: 10px;
	padding-bottom: 10px;
}

.menu-dropdown .top-button-wrapper {
	position: static;
}

.menu-dropdown .top-button-popup {
	top: 100%;
	right: 0;
	left: 0;
}

.menu-dropdown .top-button-popup > .box-arrow {
	margin-top: 0;
	margin-bottom: 0;
}

.menu-dropdown .top-button-popup > .box-arrow::before {
	display: none;
}

/*{+START,CSS_MODE,mobile}*/
	.menu-dropdown.is-touch-interface .menu-dropdown-toggle-btn {
		text-decoration: none;
		padding: 0.75em;
		{$BETA_CSS_PROPERTY,display: flex;}
		align-items: center;
	}

	.menu-dropdown.is-see-through .menu-dropdown-toggle-btn {
		color: {$GET,WB};
	}

	.menu-dropdown.is-see-through .menu-dropdown-toggle-btn:hover,
	.menu-dropdown.is-see-through .menu-dropdown-toggle-btn:focus {
		color: {$COLOR_RGBA,{$GET,WB},0.8};
	}

	.menu-dropdown.is-touch-interface .menu-dropdown-content {
		box-shadow: {$GET,box_shadow};
	}
/*{+END}*/

.menu-dropdown.is-touch-interface .menu-dropdown-toggle-btn .icon {
	width: 24px;
	height: 24px;
}

.menu-dropdown.is-touch-interface .menu-dropdown-toggle-btn .text {
	margin-left: 0.5em;
}

.menu-dropdown.is-touch-interface .menu-dropdown-toggle-btn:hover {
	text-decoration: none;
}

.menu-dropdown.is-touch-interface .menu-dropdown-content {
	display: none;
	width: 100%;
	background-color: {$GET,area_5_background};
	border-bottom: 1px solid {$GET,standard_border};
}

.menu-dropdown.is-touch-interface .menu-dropdown-items-main {
	overflow: auto; /* So we can make it scrollable for sticky header on mobile */
}

.menu-dropdown.is-touch-interface .menu-dropdown-item {
	color: {$GET,BW};
	background-color: {$GET,area_5_background};
	border-top: 1px solid {$GET,standard_border};
	border-left: 1px solid {$GET,standard_border};
	transition: background-color 0.15s ease-in-out;
}

.menu-dropdown.is-touch-interface .menu-dropdown-item-a {
	padding: 1.2em 1em;
}

.menu-dropdown.is-touch-interface .menu-dropdown-item.nlevel {
	margin-left: 2em;
}

.menu-dropdown.is-touch-interface .menu-dropdown-item.has-children > .menu-dropdown-item-a::after {
	content: '';
	float: right;
	width: 0;
	height: 0;
	margin-top: 5px;
	border-style: solid;
	border-width: 6px 6px 0 6px; /* Downward triangle */
	border-color: currentColor transparent transparent transparent;
}

.menu-dropdown.is-touch-interface .menu-dropdown-item.has-children.is-expanded > .menu-dropdown-item-a::after {
	border-width: 0 6px 6px 6px; /* Upward triangle */
	border-color: transparent transparent currentColor transparent;
}

/*.menu-dropdown.is-touch-interface .menu-dropdown-item-a:hover,*/
/*.menu-dropdown.is-touch-interface .menu-dropdown-item.current > .menu-dropdown-item-a {*/
	/*background-color: {$GET,area_hover_2_background};*/
/*}*/

.menu-dropdown.is-touch-interface .menu-dropdown-item:hover,
.menu-dropdown.is-touch-interface .menu-dropdown-item.current,
.menu-dropdown.is-touch-interface .menu-dropdown-item.is-expanded {
	background-color: {$GET,area_hover_2_background};
}

.menu-dropdown.is-touch-interface .menu-dropdown-item:focus-within {
	background-color: {$GET,area_hover_2_background};
}

@media (max-width: 540px) {/* Extra-small screens */
	.menu-dropdown.is-touch-interface .menu-dropdown-toggle-btn {
		padding-right: 0;
	}

	.header-modern .menu-dropdown.is-touch-interface .menu-dropdown-toggle-btn .text,
	.header-side .menu-dropdown.is-touch-interface .menu-dropdown-toggle-btn .text {
		display: none;
	}
}

/*{+START,CSS_MODE,desktop}*/
	.menu-dropdown.is-hover-interface .menu-dropdown-toggle-btn {
		display: none;
	}

	.menu-dropdown.is-hover-interface .menu-dropdown-content,
	.menu-dropdown.is-hover-interface .menu-dropdown-items-main,
	.menu-dropdown.is-hover-interface .menu-dropdown-item.toplevel {
		{$BETA_CSS_PROPERTY,display: flex;}
	}

	.menu-dropdown.is-hover-interface .menu-dropdown-item-a {
		padding: 0.5em;
		white-space: nowrap;
	}

	.menu-dropdown.is-hover-interface .menu-dropdown-item.toplevel.menu-spacer {
		height: 2.5em;
		width: 1em;
		padding: 0.5em;
		float: left;
	}

	.menu-dropdown.is-hover-interface .menu-dropdown-item-a.toplevel-link {
		{$BETA_CSS_PROPERTY,display: flex;}
		align-items: center;
		padding: 0 10px;
	}

	.menu-dropdown.is-hover-interface .menu-dropdown-item-a.toplevel-link .icon {
		display: block; /* Needed for alignment in flexbox */
	}

	.menu-dropdown.is-hover-interface .menu-dropdown-item.toplevel.has-children > a::after {
		font-family: sans-serif;
		content: "\025BC"; /* Downward triangle */
		vertical-align: middle;
		padding-left: 0.5em;
		font-size: 0.7em;
		display: inline-block;
		transform: scale(1, 0.6);
	}

	.menu-dropdown.is-hover-interface .menu-dropdown-item.nlevel.has-children > a::after {
		font-family: sans-serif;
		content: '\025BA'; /* Rightward triangle */
		float: right;
		font-size: 0.7em;
		margin: 0.5em 0 0 1em;
		transform: scale(0.6, 1);
	}

	.menu-dropdown.is-hover-interface .menu-dropdown-items.nlevel {
		border-top: 1px solid {$GET,standard_border};
		border-left: 1px solid {$GET,standard_border};
		border-right: 1px solid {$GET,standard_border};
		border-bottom-left-radius: {$GET,border_radius};
		border-bottom-right-radius: {$GET,border_radius};
	}

	.menu-dropdown.is-hover-interface .menu-dropdown-items.nlevel .menu-dropdown-item.last > a {
		border-bottom-left-radius: {$GET,border_radius};
		border-bottom-right-radius: {$GET,border_radius};
	}

	.menu-dropdown.is-hover-interface .menu-dropdown-items.nlevel .menu-dropdown-items.nlevel {
		margin-top: -1px; /* To compensate for border size */
		border-top-right-radius: {$GET,border_radius};
	}

	.menu-dropdown.is-hover-interface .menu-dropdown-items.nlevel .menu-dropdown-items.nlevel .menu-dropdown-item.first > a {
		border-top-right-radius: {$GET,border_radius};
	}

	.menu-dropdown.is-hover-interface .menu-dropdown .nlevel li {
		white-space: nowrap;
	}

	.menu-dropdown.is-hover-interface .menu-dropdown-item.nlevel > a:hover,
	.menu-dropdown.is-hover-interface .menu-dropdown-item.nlevel > a:focus,
	.menu-dropdown.is-hover-interface .menu-dropdown-item.nlevel:hover > a,
	.menu-dropdown.is-hover-interface .menu-dropdown-item.nlevel.current > a {
		background-color: {$GET,dropdown_menu_item_background_hover};
		color: {$GET,a.hover};
	}

	.menu-dropdown.is-hover-interface .menu-dropdown-item.nlevel > a,
	.menu-dropdown.is-hover-interface .menu-dropdown-item.nlevel .menu-spacer {
		background-color: {$GET,dropdown_menu_item_background};
		font-weight: normal;
		border-bottom: 1px solid {$GET,standard_border};
	}

	.menu-dropdown.is-hover-interface .menu-dropdown .nlevel .menu-spacer {
		display: block;
		padding-right: 0;
	}

	.menu-dropdown.is-hover-interface .menu-dropdown-item.nlevel > a,
	.menu-dropdown.is-hover-interface .menu-dropdown-item.nlevel > a:visited {
		color: {$GET,a.link};
	}
/*{+END}*/
