/*
 {$BRAND_NAME`}
 Copyright (c) Christopher Graham, 2004-2024
*/

.menu-type--sitemap ul, .menu-type--sitemap li {
	list-style-type: none;
	list-style-image: none;
	margin-left: 0;
	padding-left: 0;
}

.menu-type--sitemap li {
	padding: 0.25em 0;
}

.menu-type--sitemap li > span {
	display: block;
	overflow: hidden;
}

.menu-type--sitemap li > span > * {
	vertical-align: middle;
}

.menu-type--sitemap li > span:hover {
	background-color: {$GET,area_faded_background};
}

/* Level 0 */

.menu-type--sitemap ul {
	margin: 1em 0;
	font-size: 1.5em;
}

.menu-type--sitemap ul .has-img > span > img {
	width: 24px;
}

.menu-type--sitemap ul li {
	margin-left: 29px;
	font-weight: {$GET,font_weight_medium};
}

.menu-type--sitemap > ul > li > span > a.toggleable-tray-button .icon {
	margin-top: -4px !important;
}

/* Level 1 */

.menu-type--sitemap ul ul {
	margin: 0.5em 0;
	font-size: 0.9em;
}

.menu-type--sitemap ul ul .has-img > span > img {
	width: 20px;
}

.menu-type--sitemap ul li li {
	margin-left: 25px;
}

.menu-type--sitemap > ul > li > ul > li > span > a.toggleable-tray-button .icon {
	margin-top: -3px;
}

/* Level 2 */

.menu-type--sitemap ul ul ul {
	margin: 0.5em 0;
	list-style: circle;
	font-size: 0.9em;
}

.menu-type--sitemap ul ul ul .has-img > span > img {
	width: 17px;
}

.menu-type--sitemap ul li li {
	font-weight: normal;
	margin-left: 22px;
}

.menu-sitemap-item-a .icon {
	width: 20px;
	height: 20px;
	float: none;
}
