/*
 {$BRAND_NAME`}
 Copyright (c) Christopher Graham, 2004-2024
*/

.site-special-message {
	text-align: center;
}
/*{+START,CSS_MODE,desktop}*/
	.site-special-message {
		padding: 9em 0;
	}
/*{+END}*/

.site-special-message ul {
	text-align: left;
}

.page-running-contact .site-special-message {
	text-align: justify;
}

.ssm-warn, .ssm-inform {
	background-size: 200px 200px !important;
}
/*{+START,CSS_MODE,desktop}*/
	.ssm-warn, .ssm-inform {
		padding: 85px 220px 100px 30px;
	}
/*{+END}*/
/*{+START,CSS_MODE,mobile}*/
	.ssm-warn, .ssm-inform {
		padding-bottom: 170px;
	}
/*{+END}*/

.ssm-warn {
	background: url('{$IMG;,icons/status/warn}') right 20px no-repeat;
}

/*{+START,CSS_MODE,desktop}*/
	.expanded-advice {
		padding: 0 230px 200px 0;
	}
/*{+END}*/
/*{+START,CSS_MODE,mobile}*/
	.expanded-advice {
		padding: 0 0 200px 0;
	}
/*{+END}*/

/*{+START,CSS_MODE,desktop}*/
.ssm-inform {
	background: url('{$IMG;,icons/status/inform}') right 20px no-repeat;
}
/*{+END}*/

.page-running-contact .ssm-inform {
	padding-top: 0 !important;
}

.site-special-message-inner, .site-special-message-alt-inner {
	display: inline-block;
}

.closed-site-special-message {
	text-align: center;
}
/*{+START,CSS_MODE,desktop}*/
	.closed-site-special-message {
		margin: 10em auto;
		width: 38em;
	}
/*{+END}*/
/*{+START,CSS_MODE,mobile}*/
	.closed-site-special-message {
		margin: 3em 2em;
	}
/*{+END}*/
