/*
 {$BRAND_NAME`}
 Copyright (c) Christopher Graham, 2004-2024
*/

/*
This is a simple and clean equivalent to the main traditional-UI tabs implementation in global.css.

It makes more assumptions than the traditional tabs, like all the tabs will fit on one row.
*/

.modern-tabs {
	border: 1px solid {$GET,standard_border};
	background-color: {$GET,WB};
	/*{+START,IF,{$THEME_OPTION,curved_borders}}*/
		border-radius: {$GET,border_radius};
	/*{+END}*/
}

.modern-tab-headers {
	overflow: hidden;
	background-color: {$GET,area_5_background};
	/*{+START,IF,{$THEME_OPTION,curved_borders}}*/
		border-radius: {$GET,border_radius};
	/*{+END}*/
	{$BETA_CSS_PROPERTY,display: flex;}
}

@media (max-width: 1200px) {/* Around when the tabs start wrapping better */
	.modern-tab-headers {
		flex-wrap: wrap;
	}

	.modern-tab-headers > div.tab-active {
		box-shadow: inset 0px -3px 0px {$GET,seed};
	}
}

.modern-tab-headers > div {
	color: {$GET,a.link};
	flex-grow: 1;
	overflow: hidden;
}

.modern-tab-headers > div.tab-active {
	background-color: {$GET,WB};
	color: {$GET,text_dark};
}

.modern-tab-headers > div * {
	vertical-align: middle;
}

.modern-tab-headers > div > a,
.modern-tab-headers > div > a:hover {
	display: block;
	padding: 1em;
	cursor: pointer;
	font-weight: {$GET,font_weight_medium};
	text-align: center;
	text-decoration: none;
}

.modern-tab-headers > div.tab-active > a {
	color: {$GET,body_color};
	border-bottom-color: transparent;
}

.modern-tab-headers > div > a {
	border-right: 1px solid {$GET,standard_border};
	border-bottom: 1px solid {$GET,standard_border};
	display: block;
}

.modern-tab-headers > div:last-child > a {
	border-right: 0;
}

/*{+START,CSS_MODE,desktop}*/
	/*
	Enable instead of the below selector if you would rather icon goes above label for short widths. In this case you also need to get equal header widths via  style="width: { $DIV_FLOAT*,100,{ TABS}}%" on the header div.
	.modern-tab-headers > div > a > span {
		min-width: 5em; / * To force uniform wrapping if not enough space * /
		padding: 0.3em 0; / * Will only take effect if wrapped * /
	}*/

	.modern-tab-headers > div > a > span {
		/*min-width: 47px; !* Space things out - you may want to adjust this based on however many tabs you have *!*/
		display: inline-block;
		padding-left: 3px;
	}
/*{+END}*/

/*{+START,CSS_MODE,desktop}*/
	.modern-tab-bodies {
		padding: 1em 0.5em;
	}
/*{+END}*/
/*{+START,CSS_MODE,mobile}*/
	.modern-tab-bodies {
		padding: 3px;
	}
/*{+END}*/

/*{+START,CSS_MODE,desktop}*/
	.modern-tab-body.modern-tab-body-edit {
		padding-left: 0;
		padding-right: 0;
		margin: -1em -0.5em;
	}
/*{+END}*/

/* Sub tabs, nested */

.modern-tabs .modern-tabs .modern-tab-headers {
	overflow: hidden;
	background-color: {$GET,box_title_background_2};
}

.modern-tabs .modern-tabs .modern-tab-headers > div > a {
	padding: 0.5em;
}

/* Sub tabs, which look entirely different as they go down in an lhs column */

.modern-subtabs {
	background: {$GET,area_background};
	{$BETA_CSS_PROPERTY,display: flex;}
}

.modern-subtab-headers {
	background: {$GET,box_title_background_2};
	margin-right: 8px;
}

.modern-subtab-headers > div {
	color: {$GET,seed_contrast_high};
	position: relative;
}

.modern-subtab-headers > div.tab-active {
	background-color: {$GET,seed_secondary};
	color: {$GET,text_light};
}

.modern-subtab-headers > div:last-child {
	border-bottom: 0;
}

.modern-subtab-headers > div.tab-active::after,
.modern-subtab-headers > div:hover::after {
	position: absolute;
	top: 50%;
	right: -6px;
	margin-top: -6px;
	content: '';
	width: 0;
	height: 0;
	border-style: solid;
	border-width: 6px 0 6px 6px;
	border-color: transparent transparent transparent {$GET,seed_secondary};
}

.modern-subtab-headers > div * {
	vertical-align: middle;
	display: inline-block;
}

.modern-subtab-headers > div > a {
	padding: 1em 15px;
	border-bottom: 1px solid {$GET,standard_border};
	display: block;
	cursor: pointer;
	font-weight: {$GET,font_weight_medium};
}

/*{+START,CSS_MODE,desktop}*/
	.modern-subtab-headers > div > a {
		min-width: 160px;
	}
/*{+END}*/

.modern-subtab-headers > div > a, .modern-subtab-headers > div > a:visited, .modern-subtab-headers > div > a:active, .modern-subtab-headers > div > a:hover {
	text-decoration: none;
	color: inherit;
}

.modern-subtab-headers > div > a img {
	display: none; /* No images shown for sub-tabs */
}

.modern-subtab-bodies {
	padding: 0;
}

.modern-subtab-bodies > div {
}

/*{+START,CSS_MODE,mobile}*/ /* Horizontally scrolling sub-tabs on mobile */
	.modern-tab-body.modern-tab-body-edit {
		padding-left: 0;
		padding-right: 0;
		margin: -3px;
	}

	.modern-subtabs {
		display: block;
	}

	.modern-subtab-headers {
		margin-right: 0;
		overflow: auto;
	}

	/*.modern-subtab-headers::-webkit-scrollbar {*/
		/*display: none;*/
	/*}*/

	.modern-subtab-headers > div {
		display: table-cell;
		text-align: center;
	}

	.modern-subtab-headers > div.tab-active::after,
	.modern-subtab-headers > div:hover::after {
		display: none;
	}

	.modern-subtab-bodies {
		padding: 0 10px;
	}
/*{+END}*/
