/*
 {$BRAND_NAME`}
 Copyright (c) Christopher Graham, 2004-2024
*/

/* Web UI */

.notification {
	margin: 0.5em 0;
	overflow: hidden;
}

.notification-subject {
	font-weight: bold;
	margin: 0;
}

.notification-subject * {
	white-space: inherit !important;
}

.notification img, .topic-list-topic img {
	width: 40px;
}

.notification-meta, .topic-list-meta {
	margin-top: 0.8em !important;
	width: auto !important;
	font-size: 0.9em;
}

.notification-meta {
	font-size: 0.85em;
}

.notification-has-read {
	opacity: 0.8;
}

/* Setting */

.notifications-field-name-column {
	width: 100%;
}

.notifications-privileges-column {
	width: 10em;
}

.notifications-tick-column {
	width: 4em;
}

.notifications-advanced-column {
	width: 10em;
}

.notifications-form .form-table-field-spacer > th {
	border-top: 1px solid {$GET,standard_border};
}

.notifications-form h2 {
	text-align: left;
	text-decoration: none;
	border: 0;
}

.notifications-form td {
	text-align: center;
	vertical-align: middle;
}

.notifications-form td label {
	display: none;
}

.notifications-form td div {
	display: inline;
}

.notification-code th {
	text-align: left !important;
}
