/*
 {$BRAND_NAME`}
 Copyright (c) Christopher Graham, 2004-2024
*/

.privileges input[type="button"] {
	width: 3em;
}

.privileges .permission-field-name-column {
	width: 25em;
}

.privileges th {
	text-align: left;
}

.privileges td {
	vertical-align: middle;
}

.privileges td:last-child {
	text-align: right;
}

.permission-header-cell {
	vertical-align: middle;
}

.permission-toggle-button {
	font-family: 'Courier New', 'Courier', monospace;
}

.match-key-name-column {
	width: 15em;
}

.heading-group {
	display: block;
	text-align: right;
}

.heading-presets {
	margin-top: 0.5em;
	display: block;
	text-align: left;
}

.content-access-table-wrap {
	overflow-x: scroll;
}

.content-access-table {
	table-layout: fixed;
}

.content-access-table-label {
	width: 20em !important;
}

.content-access-table-setting {
	width: 5em !important;
}

@keyframes active_repeating_fading {
	from {
		opacity: 1.0;
	}

	to {
		opacity: 0.6;
	}
}

.active-repeating {
	animation-duration: 1s;
	animation-name: active_repeating_fading;
	animation-iteration-count: infinite;
	animation-direction: alternate;
}
