/*
 {$BRAND_NAME`}
 Copyright (c) Christopher Graham, 2004-2024
*/

.login-block-cookies {
	text-align: right;
}

.personal-stats-avatar {
	text-align: center;
	margin-bottom: 1em;
}

.personal-stats-avatar img {
	max-width: 100px;
}

/* Top block */

.top-button-popup .personal-stats-avatar {
	float: right;
}
.top-button-popup .personal-stats-avatar img {
	max-width: 60px;
}

.top-button-popup .personal-stats-avatar + h3 {
	margin-right: 100px;
	margin-bottom: 0.5em;
}

.top-button-popup ul.compact-list {
	font-size: 0.95em;
}

.top-button-popup ul.compact-list li {
	padding: 0.1em 0;
}

.top-button-popup ul.compact-list li .field-name {
	font-weight: normal;
}

/* Side block */

.login-block-username {
	margin-bottom: 1px;
}
