/* There is no need to edit this file - it is only used for displaying the PHP-Info tool */

.page-running-admin-phpinfo .breadcrumbs {
	margin-bottom: 1em;
}

.page-running-admin-phpinfo h1.p {
	float: right;
	margin-top: 2em;
	font-size: 1.5em;
}

.page-running-admin-phpinfo table {
	border-collapse: collapse;
}

.page-running-admin-phpinfo table td, .page-running-admin-phpinfo table th {
	border: 1px solid {$GET,standard_border};
}

.page-running-admin-phpinfo .e {font-weight: bold; color: {$GET,native_ui_foreground};}
.page-running-admin-phpinfo .h {font-weight: bold; color: {$GET,native_ui_foreground};}
.page-running-admin-phpinfo .v {color: {$GET,native_ui_foreground};}
.page-running-admin-phpinfo .vr {text-align: right; color: {$GET,native_ui_foreground};}
