/*
 {$BRAND_NAME`}
 Copyright (c) Christopher Graham, 2004-2024
*/

.box---points-profile {
	background-image: none !important;
}

.box---points-profile::after {
	display: block;
	clear: both;
	content: "";
}

.points-send-box-header {
	margin-top: 0;
	font-size: 0.85em;
	padding-bottom: 0.5em;
	margin-bottom: 1.3em;
	border-bottom: 1px solid {$GET,pale_border};
}

.points-send-box-header span {
	color: {$GET,heading_text};
	font-size: 1.1em;
	display: inline-block;
	font-weight: bold;
	padding-right: 0.5em;
	border-right: 1px solid {$GET,divider_line};
	margin-right: 0.5em;
}

.points-anon {
	margin-left: 2em;
}

.points-anon * {
	vertical-align: middle;
	margin: 0;
}

.points-box {
	max-width: 14em;
	width: 12em;
	min-width: 12em;
	padding: 0 !important;
	margin: 0 0 2em 1em;
	text-align: center;
}

.points-box-primary {
	background-color: {$GET,area_background};
}

.points-box .intro {
	font-weight: bold;
}

.points-box .figure {
	font-size: 1.8em;
}

.leader-board-rank {
	display: none;
}

.send-fragment {
	display: inline-block;
	font-size: 1em;
	padding-bottom: 0.5em;
}

.points-boxes {
	flex-wrap: wrap;
	justify-content: space-evenly;
}
