/*
 {$BRAND_NAME`}
 Copyright (c) Christopher Graham, 2004-2024
*/

/* Form */

.quiz-timer {
	position: fixed;
	left: 0.5em;
	bottom: 0;
	z-index: 100;
	background-color: rgba(209,201,13,0.3);
	{$BETA_CSS_PROPERTY,user-select: none;}
	padding: 0.3em;
	/*{+START,IF,{$THEME_OPTION,curved_borders}}*/
		border-radius: 5px;
	/*{+END}*/
}

.quiz-form table {
	counter-reset: quiz_num;
}

.quiz-field-name-column {
	width: 28em;
}
.quiz-field-input-column {
	width: 100%;
}
/*{+START,CSS_MODE,mobile}*/
	.quiz-field-name-column, .quiz-field-input-column {
		width: auto;
	}
/*{+END}*/

.quiz-form th {
	padding: 1.5em 2em 0.5em 70px !important;
	min-height: 2.5em;
	position: relative;
}

.quiz-form td {
	padding: 0.5em 2em 0.5em 1.5em;
	vertical-align: middle;
}

.quiz-form th > span.field-name {
	position: relative;
	z-index: 10;
	padding-top: 0.5em;
}

.quiz-form th::before {
	content: counter(quiz_num);
	counter-increment: quiz_num;
	z-index: 5;
	font-size: 2.2em;
	position: absolute;
	top: 15px;
	left: 15px;
	padding-top: 10px;
	color: {$GET,th_secondary_text};
	line-height: 0.8em;
}

.quiz-form .filledin th::before {
	font-size: 1.5em;
}

.quiz-form .filledin td::before {
	float: right;
	width: 30px;
	height: 30px;
	content: " ";
	/*content: "\221a"; Cool but misleading*/
	color: {$GET,green_highlight_text};
	opacity: 0.6;
	background: url('{$IMG;,cns_emoticons/thumbs}') top right no-repeat;
}

.quiz-form .filledin:nth-child(7n+1) td::before {
	background: url('{$IMG;,cns_emoticons/thumbs}') top right no-repeat;
}

.quiz-form .filledin:nth-child(7n+2) td::before {
	background: url('{$IMG;,cns_emoticons/hippie}') top right no-repeat;
}

.quiz-form .filledin:nth-child(7n+3) td::before {
	background: url('{$IMG;,cns_emoticons/guitar}') top right no-repeat;
}

.quiz-form .filledin:nth-child(7n+4) td::before {
	background: url('{$IMG;,cns_emoticons/cool}') top right no-repeat;
}

.quiz-form .filledin:nth-child(7n+5) td::before {
	background: url('{$IMG;,cns_emoticons/glee}') top right no-repeat;
}

.quiz-form .filledin:nth-child(7n+6) td::before {
	background: url('{$IMG;,cns_emoticons/nod}') top right no-repeat;
}

.quiz-form .filledin:nth-child(7n+7) td::before {
	background: url('{$IMG;,cns_emoticons/party}') top right no-repeat;
}

.quiz-form tr.filledin.field-input th,
.quiz-form tr.filledin.field-input td {
	opacity: 0.4;
	transition: opacity 0.15s ease-in-out;
}

/*.quiz-form tr.field-input th, .quiz-form tr.field-input td {   Annoying assumption about mouse use
	opacity: 0.5;
}*/

.quiz-form tr.field-input:hover th,
.quiz-form tr.field-input:hover td,
html.is-touch-enabled .quiz-form tr.field-input th,
html.is-touch-enabled .quiz-form tr.field-input td {
	opacity: 1.0 !important;
}

.quiz-form tr.field-input:focus-within th,
.quiz-form tr.field-input:focus-within td {
	opacity: 1.0 !important;
}

.quiz-form td .input-radio {
	display: inline-block;
}

.quiz-form td label {
	vertical-align: top;
}

.quiz-form .radio-list, .quiz-form .various-ticks-simple, .quiz-result-question, .quiz-result-given-answer, .quiz-result-answer {
	font-weight: bold;
}

.quiz-form tr.field-input div {
	margin-right: 35px;
	display: block;
}

/* Results */

.quiz-done-results-col-was-correct {
	width: 24px;
}

.quiz-done-results-col-question {
	width: 40%;
}

.quiz-done-results-col-given-answer {
	width: 30%;
}

.quiz-done-results-col-correct-answer {
	width: 30%;
}

.quiz-answer-status {
	text-align: center;
}
