/*
 {$BRAND_NAME`}
 Copyright (c) Christopher Graham, 2004-2024
*/

.page-redirect-table td, .page-redirect-table th {
	vertical-align: middle;
}

.page-redirect-table-input-column {
	width: 25%;
}

.page-redirect-table-sup-column {
	width: 3em;
}

.page-redirect-table td:last-child {
	text-align: center;
}

.url-redirect-table-input-column {
	width: 40%;
}

.url-redirect-table-type-column {
	width: 7em;
}

.url-redirect-table-tick-column {
	width: 2em;
}
