/*
 {$BRAND_NAME`}
 Copyright (c) Christopher Graham, 2004-2024
*/

.rss-main {
	text-align: center;
	margin: 2em auto 0 auto;
}

.rss-main a {
	display: inline-block;
	border: 1px solid;
}

.rss-main-inner {
	width: 80%;
	margin: 0 10%;
	overflow: hidden;
}

.rss-copyright {
	margin-top: 2em;
	font-size: 0.8em;
	text-align: center;
	color: {$GET,area_text};
}

#xslt-introduction {
	padding-bottom: 1em;
	font-size: 1.2em;
}
