/*
 {$BRAND_NAME`}
 Copyright (c) Christopher Graham, 2004-2024
*/

.screen-actions-outer {
	margin-top: 1em;
	overflow: visible !important;

	/* Needed so the ::after clearfix works in a constrained context */
	display: inline-block;
	width: 100%;
}

.screen-actions {
}

/* We normally hide stuff with overflow:hidden, but some share buttons use absolute positioned layers that need to escape our box */
.screen-actions::after {
	content: "";
	display: table;
	clear: both;
}

.screen-actions div {
	margin-right: 1.25em;
	width: 20px;
	height: 20px;
	float: left;
}

.screen-actions .icon {
	width: 20px;
	height: 20px;
}

.screen-actions div:last-child {
	margin-right: 0;
}

.screen-actions div a {
	display: inline-block;
	width: 20px;
	height: 20px;
}

.screen-actions div a span {
	visibility: hidden;
}

.screen-actions .facebook-like {
	margin-right: 0;
	min-width: 90px; /* Facebook is absolute'ing out of its space so we need to reserve extra space */
}
