/*
 {$BRAND_NAME`}
 Copyright (c) Christopher Graham, 2004-2024

 See docs/LICENSE.md for full licensing information.

*/

.constrain-search-block {
	width: 17em;
}

.search-advanced-title {
	padding-top: 1em;
}

/*{+START,CSS_MODE,desktop}*/
	.main-search-form .search-content {
		width: 300px;
		max-width: 100%;
	}
/*{+END}*/

.search-for-search-domain {
	font-style: italic;
	padding-left: 30px;
}

.search-for-search-domain-more {
	float: right;
}

.search-for-search-domain, .search-for-search-domain-checkbox {
	vertical-align: middle;
}

.search-option {
	padding: 0.2em 0;
}

.search-option + .left {
	max-width: 40em;
}

/*{+START,CSS_MODE,desktop}*/
	.search-option label {
		float: left;
		width: 250px;
		max-width: 100%;
	}

	.search-option-value, .search-option select {
		width: 20em;
		max-width: 100%;
		font-size: 1em; /* Makes em units consistent for both input types */
	}
/*{+END}*/

.search-option * {
	margin-left: 0;
}

.search-result {
	margin-top: 1em;
	overflow: hidden;
}

/*{+START,CSS_MODE,desktop}*/
	#search-sort, #search-direction {
		max-width: 100%;
	}
/*{+END}*/
/*{+START,CSS_MODE,mobile}*/
	#search-sort, #search-direction {
		max-width: 140px !important;
	}
/*{+END}*/
