/*
 {$BRAND_NAME`}
 Copyright (c) Christopher Graham, 2004-2024
*/

.box---setupwizard > .box-inner > h2 {
	text-align: left;
	padding-left: 0.75em;
	padding-top: 0.75em;
	padding-bottom: 0.75em;
}

.progress-indicator {
	float: right;
	margin-top: 0.7em;
}
