/*
 {$BRAND_NAME`}
 Copyright (c) Christopher Graham, 2004-2024
*/

/* Cart screen */

table.cart-table {
	width: 100%;
}

table.cart-table td {
	vertical-align: middle;
}

table.cart-table .associated-details {
	display: block;
	margin-top: 0.25em;
}

.cart-buttons {
	overflow: hidden;
}

.cart-update-buttons {
	float: left;
}

.cart-continue-button {
	float: right;
}

.cart-payment-line {
	font-size: 1.1em;
}

.cart-payment-summary {
	font-size: 1.2em;
	padding: 0.5em 0;
	border-top: 1px solid {$GET,pale_border};
	border-bottom: 1px solid {$GET,pale_border};
}

.cart-payment-line, .cart-payment-summary {
	margin: 1em 0;
	text-align: right;
}

.cart-payment-summary .price {
	font-weight: bold;
}

/* Admin order management interface */

.orders-actions-dropdown {
	width: 10em;
}

table.shipping-address {
	border: 0;
}
