/*
 {$BRAND_NAME`}
 Copyright (c) Christopher Graham, 2004-2024
*/

.tree-list--root-tree-list {
	overflow: auto;
}

.sitemap-left {
}
/*{+START,CSS_MODE,desktop}*/
	.tree-list--root-tree-list {
		height: 358px;
	}
/*{+END}*/

.pt-editor, .sitemap-editor {
	height: auto;
	overflow: visible;
}

.sitemap-right {
}

/*{+START,CSS_MODE,desktop}*/
	.sitemap-left {
		width: 50%;
		padding-right: 1em;
	}

	.sitemap-right {
		float: right;
		width: 50%;
	}
/*{+END}*/

/*
=========================
=Permissions Tree editor=
=========================
*/

.pt-editor .ajax-tree-cat-icon {
	display: none;
}

.pte-tips {
	font-size: 0.9em;
}

.pte-tree {
	position: relative;
	min-height: 11em;
}

.pte-icon-box {
	width: 100%;
}

/*{+START,CSS_MODE,desktop}*/
	.pte-icon-box {
		width: 15em;
		position: absolute;
		right: 1em;
		top: 0;
	}
/*{+END}*/

.pte-icon-box form {
	margin-bottom: 1em;
}

.pte-icon-box select {
	width: 7em;
}

.pte-icon-box p {
	font-size: 0.9em;
}

/*{+START,CSS_MODE,desktop}*/
	.pte-sitemap-and-help-box-wrapper {
		{$BETA_CSS_PROPERTY,display: flex;}
	}

	.pte-sitemap {
		flex-grow: 1;
	}

	.box---permissions-tree-editor-screen {
		min-height: 15em;
	}

	.pte-help-box {
		width: 24em;
		margin-left: 1em;
	}
/*{+END}*/

.pte-set-box {
	margin-top: 1em;
}
