/*
 {$BRAND_NAME`}
 Copyright (c) Christopher Graham, 2004-2024
*/

/* Main management screen */

.theme-manage-table {
	margin: 1em 0;
}

.theme-manage-table table {
	border-collapse: collapse;
	width: 100%;
}

.theme-manage-table th, .theme-manage-table td {
	border: 1px solid {$GET,standard_border};
}

.theme-manage-table td {
	padding: 0.5em;
	vertical-align: middle;
}

.manage-theme-theme-usage {
	padding-bottom: 2em !important;
}

.manage-theme-theme-usage, .theme-manage-footnote {
	font-size: 0.95em;
}

.theme-manage-footnote {
	margin: 0.5em 0 1.5em 0;
}

.theme-manage-table dt, .theme-manage-table dd {
	margin: 0;
}
.theme-manage-table dt {
	float: left;
	padding-right: 0.5em;
}
.theme-manage-table dd {
	display: block;
}

.manage-theme-details {
	width: 15em;
}

.manage-theme-details .seed {
	background-color: white;
}
.manage-theme-details .seed strong {
	white-space: nowrap !important;
}

.manage-theme-export {
	min-width: 6em;
}

.manage-theme-export * {
	vertical-align: middle;
}

.manage-theme-icons {
	width: 480px;
}
.do-theme-items > div {
	width: 155px; /* We may have long labels here, so we don't want to let that make the table spacing weird */
}
@media(max-width: 1200px) {
	.manage-theme-icons {
		width: 255px;
	}
	.do-theme-items > div {
		width: 80px; /* We may have long labels here, so we don't want to let that make the table spacing weird */
	}
}

/* Template editor */

.template-editor-files-and-tabs {
	{$BETA_CSS_PROPERTY,display: flex;}
}

.template-editor-file-selector {
	width: 20em;
	padding-right: 16px;
	height: 45em;
}

.template-editor-file-selector > .inner {
	overflow-x: hidden;
	overflow-y: auto;
	width: 100%;
	height: 100%;
}

.template-editor-file-selector > .inner > #tree-list--root-theme_files {
	background-color: {$GET,native_ui_background};
}

.template-editor-tabs {
	flex-grow: 1;
}

.file-changed {
	font-style: italic;
}

.file-unchanged {
}

.template-editing-toolbar {
	margin-bottom: 1em;
}

.tpl-dropdown-row-a {
	background-color: {$GET,area_zebra_background};
}

.tpl-dropdown-row-b {
	background-color: {$GET,area_background};
}

.tpl-dropdown-row-a, .tpl-dropdown-row-b {
	padding: 0.3em;
}

.css-editor-selectors {
	margin-bottom: 1em;
}

.css-editor-selectors > div ul {
	display: block;
	margin: 0;
	padding: 0;
}

.css-editor-selectors > div li {
	display: inline-block;
	margin: 0.2em;
	padding: 0.2em;
	background-color: {$GET,area_background};
	font-size: 0.9em;
}

.css-editor-lhs-column {
	margin-right: 37em;
}

.css-editor-rhs-column {
	width: 40em;
	float: right;
	font-size: 0.9em;
	margin-left: 1em;
}

.main-editor {
}

.guids {
}

/* Theme images */

.theme-image-preview {
	float: left;
	margin-right: 0.5em;
	margin-top: 1em;
	max-width: 100%;
	height: auto;
}

.theme-image-preview-wide {
	max-width: 100%;
	height: auto;
}

/* Theme Wizard */

.themewizard-preview-wrap {
	margin: 1.5em 0;
}

.themewizard-colour, .themewizard-info-box-label {
	font-weight: bold;
}

.themewizard-use-colour {
	font-weight: bold;
	text-align: center;
}

.themewizard-preview {
	width: 100%;
	height: 300px;
}

/*{+START,CSS_MODE,desktop}*/
	.themewizard-info-box {
		float: right;
		text-align: center;
	}
/*{+END}*/

/* Logo Wizard */

.theme-image--background-theme-image .radio-list-picture {
}
/*{+START,CSS_MODE,desktop}*/
	.theme-image--background-theme-image .radio-list-picture {
		max-width: 50%;
	}
/*{+END}*/
/*{+START,CSS_MODE,mobile}*/
	.theme-image--background-theme-image .radio-list-picture {
		max-width: 100%;
		padding: 0;
		margin: 0;
	}

	.theme-image--background-theme-image .radio-list-picture .selectable-theme-image {
		padding: 0;
	}
/*{+END}*/
.theme-image--logo-theme-image .radio-list-picture img, .theme-image--background-theme-image .radio-list-picture img {
	max-width: 100%;
}

.page-running-admin-themewizard .radio-list label {
	float: left;
	min-width: 19em;
	height: 2em;
}

.logowizard-preview {
	background-color: {$GET,BW};
}

/* Template edit links */

.template-edit-link-wrap {
	margin: 1px;
	padding: 1px;
	display: inline-block;
	border-radius: 5px 5px 5px 5px;
	border: 1px solid;
}

.template-edit-link {
	display: block;
}

.template-edit-link span {
	text-decoration: underline;
	cursor: pointer;
	background-color: rgba(255,255,255,0.8);
	display: inline-block;
	border: 1px dotted black;
	margin: 3px;
}

.template-edit-link span kbd {
	color: black;
}
