/*
 {$BRAND_NAME`}
 Copyright (c) Christopher Graham, 2004-2024
*/

.ticket-filters label {
	min-width: 10em;
	display: inline-block;
}

/*{+START,CSS_MODE,mobile}*/
	.ticket-filters .ticket-type-filter, .ticket-filters .open-ticket-filter, .ticket-filters .filter-button {
		margin-left: 0;
		display: block;
	}
/*{+END}*/

.support-tickets th {
	text-align: left !important;
}

.support-tickets th, .support-tickets td {
	padding: 1em;
}

.closed-ticket {
	font-style: italic;
	float: right;
	padding-left: 3em;
	white-space: nowrap;
}

body table.results-table tbody tr.unclosed-ticket td {
	background-color: {$GET,yellow_highlight_background} !important;
	color: {$GET,green_highlight_text} !important;
}

.ticket-title {
	font-weight: bold;
}

.ticket-type {
}

.ticket-num-posts {
}

.ticket-first-poster {
}

.ticket-last-poster {
}

.ticket-age {
}

/* Viewing a ticket */

.ticket-page-text {
	margin-bottom: 2em;
}

.support-ticket-screen .list-whos-read-ticket {
	margin-bottom: 14px;
}
