/*
 {$BRAND_NAME`}
 Copyright (c) Christopher Graham, 2004-2024
*/

.translate-field {
	color: {$GET,native_ui_foreground} !important;
}

td.translate-line-first {
	padding: 0.5em;
}

.translate-line-second {
	padding: 0.5em 0.5em 2em 0.5em;
}

.translate-line-second textarea {
	border-style: dotted;
}

.translate-original-text {
	color: {$GET,unfilled_input_text};
}
