/*
 {$BRAND_NAME`}
 Copyright (c) Christopher Graham, 2004-2024
*/

/*
=========================
==Markup/Code checking===
=========================
*/

.webstandards-div {
	margin-top: 1em;
	overflow: auto
}

.webstandards-error {
	font-weight: bold;
	font-style: italic;
	color: {$GET,red_highlight_text};
}

.webstandards-red-alert {
	color: {$GET,red_highlight_text};
}

.webstandards-error-line {
	font-style: italic;
	color: {$GET,red_highlight_text};
}

.webstandards-tag {
	font-weight: bold;
}

.webstandards-attribute {
	font-style: italic;
}
