.plupload {
	vertical-align: top;
}

/* Form styles */

div.fieldset {
	border:  1px solid #afe14c;
	margin: 10px 0;
	padding: 20px 10px;
}
div.fieldset span.legend {
	position: relative;
	background-color: #FFF;
	padding: 3px;
	top: -30px;
	font: 700 14px Arial, Helvetica, sans-serif;
	color: #73b304;
}

div.progress-bars {
	margin: 1em 0.5em;
	display: none;
	border-color: #D9E4FF;
	border-radius: 5px;
}

/* Progressbar styles */

.progress-wrapper {
	overflow: hidden;
}

.progress-container {
	margin: 5px;
	padding: 4px;
	border: solid 1px #E8E8E8;
	background-color: #F7F7F7;
	overflow: hidden;
}

/* Message */
.message {
	margin: 1em 0;
	padding: 10px 20px;
	border: solid 1px #FFDD99;
	background-color: #FFFFCC;
	overflow: hidden;
}

/* Error */
.red {
	border: solid 1px #B50000;
	background-color: #FFEBEB;
}

/* Complete */
.green {
	border: solid 1px #DDF0DD;
	background-color: #EBFFEB;
}

/* Current */
.yellow {
	border: solid 1px #FFDD99;
	background-color: #FFFFCC;
}

/* Queued */
.blue {
	border: solid 1px #CEE2F2;
	background-color: #F0F5FF;
}

.progress-name {
	font-size: 0.8em;
	font-weight: 700;
	height: 14px;
	text-align: left;
	white-space: nowrap;
	overflow: hidden;
}

.progress-name, .progress-bar-status {
	color: #555;
}

.progress-bar-in-progress,
.progress-bar-complete,
.progress-bar-error {
	font-size: 0;
	width: 0%;
	height: 2px;
	background-color: blue;
	margin-top: 2px;
}

.progress-bar-complete {
	width: 100%;
	background-color: green;
	visibility: hidden;
}

.progress-bar-error {
	width: 100%;
	background-color: red;
	visibility: hidden;
}

.progress-bar-status {
	margin-top: 2px;
	font-size: 0.8em;
	text-align: left;
	white-space: nowrap;
}

a.progress-cancel {
	font-size: 0;
	display: block;
	height: 14px;
	width: 14px;
	background-image: url('{$IMG;,icons/buttons/cancel2}');
	background-size: 14px 14px;
	opacity: 0.7;
	background-repeat: no-repeat;
	float: right;
}

a.progress-cancel:hover {
	opacity: 1.0;
}
