/* Glide.js v3.6.1. "dist/css/glide.core.css": */
.glide {
	position: relative;
	width: 100%;
	box-sizing: border-box;
}

.glide * {
	box-sizing: inherit;
}

.glide__track {
	overflow: hidden;
}

.glide__slides {
	position: relative;
	width: 100%;
	list-style: none;
	backface-visibility: hidden;
	transform-style: preserve-3d;
	{$BETA_CSS_PROPERTY,touch-action: pan-Y;}
	overflow: hidden;
	margin: 0;
	padding: 0;
	white-space: nowrap;
	{$BETA_CSS_PROPERTY,display: flex;}
	flex-wrap: nowrap;
	will-change: transform;
}

.glide__slides--dragging {
	{$BETA_CSS_PROPERTY,user-select: none;}
}

.glide__slide {
	width: 100%;
	height: 100%;
	flex-shrink: 0;
	white-space: normal;
	{$BETA_CSS_PROPERTY,user-select: none;}
	-webkit-touch-callout: none;
	-webkit-tap-highlight-color: transparent;
}

.glide__slide a {
	{$BETA_CSS_PROPERTY,user-select: none;}
	-webkit-user-drag: none;
}

.glide__arrows {
	-webkit-touch-callout: none;
	{$BETA_CSS_PROPERTY,user-select: none;}
}

.glide__bullets {
	-webkit-touch-callout: none;
	{$BETA_CSS_PROPERTY,user-select: none;}
}

.glide--rtl {
	direction: rtl;
}
