/*
 {$BRAND_NAME`}
 Copyright (c) Christopher Graham, 2004-2024
*/

.pe-wiki-page-description {
	margin-bottom: 1.5em;
}

.wiki-post-below {
	padding-top: 0.5em;
}

.wiki-page-children {
	margin-bottom: 1.5em;
}

.wiki-screen .wiki-link {
	font-size: 1em !important;
}

.wiki-screen .wiki-link a {
	background: none !important;
	padding: 0 !important;
}

/* Posts */

.wiki-topic-poster-name {
	float: left;
	margin-left: 0.5em;
	padding-right: 0.5em;
	border-right: 1px solid {$GET,standard_border};
}

.wiki-rating-inside {
	padding-left: 3em;
}

.wiki-topic-post-area {
	background-color: {$GET,area_5_background} !important;
	padding: 1em !important;
}

.wiki-mass-select-marker {
	float: right;
	border: 0 !important;
}

.wiki-post-buttons {
	padding: 0.5em !important;
}
