/*
 {$BRAND_NAME`}
 Copyright (c) Christopher Graham, 2004-2024
*/

/*{+START,CSS_MODE,desktop}*/
	#ze-panels-wrap {
		min-height: 520px;
	}

	#p-panel-left {
		left: 0;
		border-right: 3px solid {$GET,tab_border};
		z-index: 10;
	}

	#p-panel-right {
		right: 0;
		border-left: 3px solid {$GET,tab_border};
		z-index: 10;
	}
/*{+END}*/

.ze-tabs .tab {
	background-color: {$GET,native_ui_background};
	min-width: 3.4em;
}

/* Used in ZONE_EDITOR_PANEL.tpl */
#info-panel-left, #info-panel-right, #edit-panel-left, #edit-panel-right, #view-panel-left, #view-panel-right, #settings-panel-left, #settings-panel-right {
	padding: 0 1em;
}
#view-panel-left {
	padding: 1em;
}

.ze-panel {
	overflow-x: hidden;
	overflow-y: auto;
	outline: 0;
}
/*{+START,CSS_MODE,desktop}*/
	.ze-panel {
		width: 19em;
		position: absolute;
		height: 520px;
		border-bottom: 3px solid {$GET,tab_border};
		background-color: {$GET,area_background};
	}

	.ze-panel-expanded {
		width: 45em;
	}

	.ze-middle {
		margin: 0 19em;
	}

	#p-panel-right .tab {
		float: right;
	}
/*{+END}*/
/*{+START,CSS_MODE,mobile}*/
	.ze-panel {
		width: auto !important;
	}
/*{+END}*/

.ze-textarea {
	width: 100%;
	height: 320px;
}

.ze-textarea-middle {
	width: 100%;
	height: 320px;
}

/*{+START,CSS_MODE,mobile}*/
	.zone-editor-form .proceed-button > span {
		display: block;
		margin: 1em 0;
	}
/*{+END}*/
