/*
 {$BRAND_NAME`}
 Copyright (c) ocProducts, 2004-2023
*/

/*
This is Composr's base CSS file. It defines colours and responsive modes using Tempcode that may be referenced in other CSS files.
See global.css for actual CSS rules.
*/

/*
=========================
====Responsive modes=====
=========================
*/

/*
These define CSS_MODEs. They work both as responsive design breakpoints, and rule output control for mobile mode.

In desktop mode:
 mode directives are turned into corresponding @media rules (i.e. responsive design)

In mobile mode:
 anything marked with "mobileModeMedia" will be turned into @media rules
 anything marked with "mobileModeKeep" will be output directly
 anything marked with "mobileModeDiscard" skipped (to save on file-size)
*/

/* The basic ones */
/* NB: Remember to update $cms.isCssMode() too if you make changes here. */
{$CSS_MODE,mobile,0-982,mobileModeKeep}
{$CSS_MODE,desktop,983-infinity,mobileModeDiscard}

/* Ones considering overlays are smaller */
{$CSS_MODE,mobile__overlay,0-780,mobileModeKeep}
{$CSS_MODE,desktop__overlay,780-infinity,mobileModeDiscard}

/* Extra ones; useful if you are providing better specificity for particular tested ranges (make sure the base-line of each range works for the rules you set; assuming we are using retina/hi-dpi properly rather than to cram more onto the screen) */
{$CSS_MODE,smartphone,0-420,mobileModeMedia}
{$CSS_MODE,smartphone_fixed_viewport,320-320,mobileModeMedia}/*This would only be used if you set a fixed (non-responsive) viewport of 320 (QVGA, portrait mode); not used by default*/
{$CSS_MODE,smartphone_portrait,320-666,mobileModeMedia}/*Based on up to what iPhone6 can do; higher-res phones like phablets may fall under the smartphone_landscape range even in portrait mode which is fine*/
{$CSS_MODE,smartphone_landscape,667-982,mobileModeMedia}/*Based on from iPhone6 landscape up to our tablet size; also good for small tablets in portrait mode*/
{$CSS_MODE,tablet_fixed_viewport,982-982,mobileModeDiscard}/*This corresponds to the fixed width tablet mode viewport defined in HTML_HEAD.tpl optimised for landscape mode; fixed width is not on by default, so tablet is the same as desktop in that case*/
{$CSS_MODE,regular_desktop,982-infinity,mobileModeMedia}/*1024 is considered the industry-standard, which is 982 with scrollbar; also good for small tablets in landscape mode and large tablets in portrait mode*/
{$CSS_MODE,regular_desktop_only,982-1366,mobileModeMedia}
{$CSS_MODE,large_desktop,1366-infinity,mobileModeMedia}/*Also good for large tablets in landscape mode*/

/*
=========================
========Settings=========
=========================
*/

/* Miscellaneous settings */
{$SET,max_container_width,1349px} /* 1366px minus 17px scrollbar */
{$SET,header_modern_height,90px}
{$SET,stickied_header_modern_height,70px}
{$SET,border_radius,4px}
{$SET,border_radius_lg,6px}
{$SET,font_weight_light,300}
{$SET,font_weight_medium,500} /* Varies by font: 500 for Roboto, 600 for Open Sans */

/* Box shadow settings */
{$SET,box_shadow_sm,0 2px 4px {$COLOR_RGBA,{$GET,BW},0.075}}
{$SET,box_shadow,0 7px 14px {$COLOR_RGBA,{$GET,BW},0.15}}
{$SET,box_shadow_lg,0 14px 42px {$COLOR_RGBA,{$GET,BW},0.175}}

/* Leave this alone */
{$SET,loaded_base,1}
