/*
 {$BRAND_NAME`}
 Copyright (c) Christopher Graham, 2004-2024
*/

/*
The dropdown CSS is generally split into "toplevel" and "nlevel", with a different set of HTML and rules for each.
"nlevel" is everything other than the top level.

For example:
 "toplevel" makes the whole li clickable by making the inside anchor a block. The image is in the link.
 "nlevel" has the image to the left of the anchor, like with most of the other menu types.
*/

.admin-navigation .menu-dropdown {
}

.menu-dropdown-items {
	margin-bottom: 0;
	padding-left: 0;
	list-style: none;
}

.menu-dropdown-item-a,
.menu-dropdown-item-a:hover {
	display: block;
	text-decoration: none;
	transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out;
}

.menu-dropdown-item-icon {
	margin-right: 0.3em;
}

.menu-dropdown-item-icon .icon {
	width: 16px;
	height: 16px;
}

.menu-dropdown-item-popup {
	border-bottom: 1px solid {$GET,standard_border};
	background: {$GET,WB};
}

.menu-dropdown-item-a.toplevel-link {
	font-weight: {$GET,font_weight_medium};
}

/*{+START,CSS_MODE,mobile}*/
	.menu-dropdown-toggle-btn {
		text-decoration: none;
		padding: 0.75em;
		{$BETA_CSS_PROPERTY,display: flex;}
		align-items: center;
		color: {$GET,WB};
	}

	.menu-dropdown-toggle-btn:hover,
	.menu-dropdown-toggle-btn:focus {
		text-decoration: none;
		color: {$COLOR_RGBA,{$GET,WB},0.8};
	}

	.menu-dropdown-toggle-btn .icon {
		width: 24px;
		height: 24px;
	}

	.menu-dropdown-toggle-btn .text {
		margin-left: 0.5em;
	}

	.menu-dropdown-content {
		display: none;
		position: absolute;
		top: 100%;
		width: 100%;
		left: 0;
		z-index: 1000;
		background-color: {$GET,area_5_background};
		box-shadow: {$GET,box_shadow};
		border-bottom: 1px solid {$GET,standard_border};
	}

	.menu-dropdown-item {
		color: {$GET,BW};
		background-color: {$GET,area_5_background};
		border-top: 1px solid {$GET,standard_border};
		border-left: 1px solid {$GET,standard_border};
		transition: background-color 0.15s ease-in-out;
	}

	.menu-dropdown-item-a {
		 padding: 1.2em 1em;
	}

	.menu-dropdown-item.nlevel {
		margin-left: 2em;
	}

	.menu-dropdown-item.has-children > .menu-dropdown-item-a::after {
		 content: '';
		 float: right;
		 width: 0;
		 height: 0;
		 margin-top: 5px;
		 border-style: solid;
		 border-width: 6px 6px 0 6px; /* Downward triangle */
		 border-color: currentColor transparent transparent transparent;
	}

	.menu-dropdown-item.has-children.is-expanded > .menu-dropdown-item-a::after {
		 border-width: 0 6px 6px 6px; /* Upward triangle */
		 border-color: transparent transparent currentColor transparent;
	}

	.menu-dropdown-item:hover,
	.menu-dropdown-item.current,
	.menu-dropdown-item.is-expanded {
		background-color: {$GET,area_hover_2_background};
	}

	.menu-dropdown-item:focus-within {
		background-color: {$GET,area_hover_2_background};
	}
/*{+END}*/

/*{+START,CSS_MODE,desktop}*/
	.menu-dropdown-toggle-btn {
		display: none;
	}

	.menu-dropdown-items-main {
		{$BETA_CSS_PROPERTY,display: flex;}
	}

	.menu-dropdown-item.toplevel {
		border-right: 1px solid #444;
		flex-grow: 1;
	}

	.menu-dropdown-item.toplevel.first {
		border-left: 1px solid #444;
	}

	.menu-dropdown-item-a {
		 padding: 0.5em;
	}

	.menu-dropdown-item-a,
	.menu-dropdown-item-a:hover {
		color: inherit;
	}

	.menu-dropdown-item.toplevel.menu-spacer {
		height: 1.15em;
		width: 4em;
		padding: 0.5em;
		float: left;
	}

	.menu-dropdown-item-a.toplevel-link {
		padding: 15px 0;
		text-align: center;
	}

	.menu-dropdown-item-a.toplevel-link .menu-dropdown-item-icon {
		text-align: center;
		margin: 0.5em 0;
		display: block;
	}

	.menu-dropdown-item-a.toplevel-link .menu-dropdown-item-icon .icon {
		width: 24px;
		height: 24px;
	}

	.menu-dropdown-item.toplevel:hover > a,
	.menu-dropdown-item-a.toplevel-link:hover,
	.menu-dropdown-item-a.toplevel-link:focus {
		 background: rgba(255, 255, 255, 0.1);
	}

	.menu-dropdown-item.nlevel.has-children > a::after {
		 font-family: sans-serif;
		 content: '\025BA'; /* Rightward triangle */
		 float: right;
		 font-size: 0.7em;
		 margin: 0.2em 0 0 1em;
		 transform: scale(0.6, 1);
	}

	.menu-dropdown-items.nlevel {
		border-top: 1px solid {$GET,standard_border};
		border-left: 1px solid {$GET,standard_border};
		border-right: 1px solid {$GET,standard_border};
		border-bottom-left-radius: {$GET,border_radius};
		border-bottom-right-radius: {$GET,border_radius};
	}

	.menu-dropdown-items.nlevel .menu-dropdown-item.last > a {
		border-bottom-left-radius: {$GET,border_radius};
		border-bottom-right-radius: {$GET,border_radius};
	}

	.menu-dropdown-items.nlevel .menu-dropdown-items.nlevel {
		margin-top: -1px; /* To compensate for border size */
		border-top-right-radius: {$GET,border_radius};
	}

	.menu-dropdown-items.nlevel .menu-dropdown-items.nlevel .menu-dropdown-item.first > a {
		border-top-right-radius: {$GET,border_radius};
	}

	.menu-dropdown .nlevel li {
		white-space: nowrap;
	}

	.menu-dropdown-item.nlevel > a:hover,
	.menu-dropdown-item.nlevel > a:focus,
	.menu-dropdown-item.nlevel:hover > a,
	.menu-dropdown-item.nlevel.current > a {
		background-color: {$GET,dropdown_menu_item_background_hover};
		color: {$GET,a.hover};
	}

	.menu-dropdown-item.nlevel > a,
	.menu-dropdown-item.nlevel .menu-spacer {
		background-color: {$GET,dropdown_menu_item_background};
		font-weight: normal;
		border-bottom: 1px solid {$GET,standard_border};
		min-height: 20px;

		/* We do want wrapping for this, as menu labels could be longer than the available space between the start of the dropdown label and the edge of the fixed width */
		white-space: normal;
	}

	.menu-dropdown .nlevel .menu-spacer {
		display: block;
		padding-right: 0;
	}

	.menu-dropdown-item.nlevel > a,
	.menu-dropdown-item.nlevel > a:visited {
		color: {$GET,a.link};
	}
/*{+END}*/
