<section class="box box---block-side-weather"><div class="box-inner">
	<h3>{!WEATHER_REPORT}{+START,IF_PASSED,CITY_NAME}: {CITY_NAME*}{+END}</h3>

	<div class="float-surrounder">
		<h4>{!CURRENT_CONDITIONS}</h4>

		{+START,IF_NON_EMPTY,CURRENT_CONDITIONS}
			{+START,LOOP,CURRENT_CONDITIONS}
				{+START,IF_PASSED,ICON_URL}
					{+START,IF,{$EQ,{_loop_key},0}}
						<img class="right" src="{$ENSURE_PROTOCOL_SUITABILITY*,{ICON_URL}}" alt="{CONDITION*}" title="{CONDITION*}" />
					{+END}
				{+END}
			{+END}
		{+END}

		<ul>
			{+START,IF_PASSED,CURRENT_TEMPERATURE}
				<li>{CURRENT_TEMPERATURE*}{TEMPERATURE_UNITS`}</li>
			{+END}
			{+START,IF_PASSED,CURRENT_HUMIDITY}
				<li>{!HUMIDITY,{CURRENT_HUMIDITY*}%}</li>
			{+END}
			{+START,IF_PASSED,CURRENT_VISIBILITY}
				<li>{!VISIBILITY,{CURRENT_VISIBILITY*}{VISIBILITY_UNITS`}}</li>
			{+END}
			{+START,IF_PASSED,CURRENT_CLOUDINESS}
				<li>{!CLOUDINESS,{CURRENT_CLOUDINESS*}%}</li>
			{+END}
			{+START,IF_PASSED,CURRENT_WIND_SPEED}{+START,IF_PASSED,CURRENT_WIND_DIRECTION}
				<li>{!WIND,{CURRENT_WIND_SPEED*}{SPEED_UNITS`} {CURRENT_WIND_DIRECTION*}}</li>
			{+END}{+END}
			{+START,IF_PASSED,CURRENT_WIND_CHILL}
				<li>{!WIND_CHILL,{CURRENT_WIND_CHILL*}}</li>
			{+END}
		</ul>
	</div>

	{+START,LOOP,WEATHER_DAYS}
		<div class="float-surrounder">
			<h4>{$FROM_TIMESTAMP*,l,{TIMESTAMP}}</h4>

			{+START,IF_NON_EMPTY,CONDITIONS}
				{+START,LOOP,CONDITIONS}
					{+START,IF_PASSED,ICON_URL}
						{+START,IF,{$EQ,{_loop_key},0}}
							<img class="right" src="{$ENSURE_PROTOCOL_SUITABILITY*,{ICON_URL}}" alt="{CONDITION*}" title="{CONDITION*}" />
						{+END}
					{+END}
				{+END}
			{+END}

			<ul>
				{+START,IF_PASSED,TEMPERATURE_AVERAGE}
					<li>{!TEMPERATURE_AVERAGE,{TEMPERATURE_AVERAGE*}{TEMPERATURE_UNITS`}}</li>
				{+END}
				{+START,IF_PASSED,TEMPERATURE_HIGH}
					<li>{!TEMPERATURE_HIGH,{TEMPERATURE_HIGH*}{TEMPERATURE_UNITS`}}</li>
				{+END}
				{+START,IF_PASSED,TEMPERATURE_LOW}
					<li>{!TEMPERATURE_LOW,{TEMPERATURE_LOW*}{TEMPERATURE_UNITS`}}</li>
				{+END}
				{+START,IF_PASSED,RAIN}{+START,IF,{$NEQ,{RAIN},0}}
					<li>{!RAIN,{RAIN*}{PRECIPITATION_UNITS`}}</li>
				{+END}{+END}
				{+START,IF_PASSED,SNOW}{+START,IF,{$NEQ,{SNOW},0}}
					<li>{!SNOW,{SNOW*}{PRECIPITATION_UNITS`}}</li>
				{+END}{+END}
				{+START,IF_PASSED,HUMIDITY}
					<li>{!HUMIDITY,{HUMIDITY*}%}</li>
				{+END}
				{+START,IF_PASSED,VISIBILITY}
					<li>{!VISIBILITY,{VISIBILITY*}{VISIBILITY_UNITS`}}</li>
				{+END}
				{+START,IF_PASSED,CLOUDINESS}
					<li>{!CLOUDINESS,{CLOUDINESS*}%}</li>
				{+END}
				{+START,IF_PASSED,WIND_SPEED}{+START,IF_PASSED,WIND_DIRECTION}
					<li>{!WIND,{WIND_SPEED*}{SPEED_UNITS`} {WIND_DIRECTION*}}</li>
				{+END}{+END}
				{+START,IF_PASSED,WIND_CHILL}
					<li>{!WIND_CHILL,{WIND_CHILL*}}</li>
				{+END}
			</ul>
		</div>
	{+END}
</div></section>
