/*
 {$BRAND_NAME`}
 Copyright (c) Christopher Graham, 2004-2024
*/

footer .global-community-message {
	font-size: 0.9em;
	padding-top: 1px;
	font-weight: bold;
	padding-bottom: 4px;
}

/*{+START,CSS_MODE,desktop}*/
	footer .global-community-message {
		float: right;
	}
/*{+END}*/
/*{+START,CSS_MODE,mobile}*/
	footer .global-community-message {
		padding: 0.5em 0;
		text-align: center;
	}
/*{+END}*/
