/*
 {$BRAND_NAME`}
 Copyright (c) Christopher Graham, 2004-2024
*/

.box---cns-member-screen-gifts-wrap:nth-child(odd) {
	margin-bottom: 0;
	width: 49%;
	float: left;
}

.box---cns-member-screen-gifts-wrap:nth-child(even) {
	margin-bottom: 0;
	width: 49%;
	float: right;
}
