.block-main-karma-graph {
	position: relative;
	width: 100%;
	height: 1.5em;
	background-color: {$GET,area_4_background};
}

.block-main-karma-graph .karma-bar {
	position: absolute;
	top: 0;
	left: 0;
	height: 1.5em;
}

.block-main-karma-graph .karma-bar.good-karma {
	background-color: {$COLOR_RGBA,{$GET,success_color},0.75};
}

.block-main-karma-graph .karma-bar.really-bad-karma {
	background-color: {$COLOR_RGBA,{$GET,danger_color},0.75};
}

.block-main-karma-graph .karma-bar.bad-karma {
	background-color: {$COLOR_RGBA,{$GET,warning_color},0.75};
}

.block-main-karma-graph .karma-bar.karma-text {
	width: 100%;
	text-align: center;
}
