<li>
	<label for="file_{I*}"><input type="checkbox" checked="checked" id="file_{I*}" name="file_{I*}" value="{PATH*}" /> <kbd>{PATH*}</kbd></label>
	&ndash;
	{+START,INCLUDE,RED_ALERT}
		TEXT={ABOUT}
		INLINE=1
	{+END}
</li>
