<li>
	<label for="file_{I*}"><input {+START,IF_PASSED_AND_TRUE,DISABLED} disabled="disabled"{+END} type="checkbox" checked="checked" id="file_{I*}" name="file_{I*}" value="{PATH*}" /> <kbd>{PATH*}</kbd></label>{+START,IF_PASSED,ABOUT} &ndash; {ABOUT*}{+END}
</li>
