<section class="box box---block-main-rss"><div class="box-inner compacted-subbox-stream">
	<h3>{$?,{$IS_NON_EMPTY,{TITLE}},{!NEWS_FROM}: {TITLE`}}</h3>

	<div class="webstandards-checker-off">
		{+START,IF_NON_EMPTY,{AUTHOR}}
			<p>{AUTHOR`}</p>
		{+END}

		{CONTENT`}

		{+START,IF_NON_EMPTY,{COPYRIGHT}}
			<p>{COPYRIGHT`}</p>
		{+END}
	</div>
</div></section>
