<div class="force-normal-margin block-side-friends boxless-space"><div class="box"><div class="box-inner">
	<h3>{!_INSTANT_MESSAGING}</h3>

	{FRIENDS}

	{$,<div class="box box---block-side-friends"><div class="box-inner">
		<ul class="actions-list">
			<li>{+START,INCLUDE,ICON}NAME=buttons/proceed2{+END} <a href="{$PAGE_LINK*,_SEARCH:popup_blockers}" data-open-as-overlay="\{\}">{!ENABLE_POPUPS}</a></li>
		</ul>
	</div></div>}
</div></div></div>
