<li><a {+START,IF_PASSED,TARGET} target="{TARGET*}"{+END}{+START,IF_PASSED,TITLE} title="{NAME*} {TITLE*}"{+END}{+START,IF_PASSED,REL} rel="{REL*}"{+END}{+START,IF_PASSED,ACCESSKEY} accesskey="{ACCESSKEY*}"{+END} href="{URL*}">{NAME*}</a></li>
