<li>{+START,IF_PASSED_AND_TRUE,POST}<form title="{NAME*}" class="inline" method="post" action="{URL*}"><button title="{DESCRIPTION*}" class="button-hyperlink" type="submit">{NAME*}</button></form>{+END}{+START,IF_NON_PASSED_OR_FALSE,POST}<a title="{NAME*}: {DESCRIPTION*}" href="{URL*}">{NAME*}</a>{+END}</li>
