<tr>
	<td class="fake-th"><a rel="nofollow" href="{MONTH_A_URL*}">{MONTH_A*}</a></td>
	<td class="fake-th"><a rel="nofollow" href="{MONTH_B_URL*}">{MONTH_B*}</a></td>
	<td class="fake-th"><a rel="nofollow" href="{MONTH_C_URL*}">{MONTH_C*}</a></td>
</tr>
<tr>
	{MONTHS}
</tr>
