{$,Read the catalogue tutorial for information on custom catalogue layouts}

<li>
	{+START,IF_NON_EMPTY,{VIEW_URL}}<a href="{VIEW_URL*}">{+END}{+START,FRACTIONAL_EDITABLE,{FIELD_0_PLAIN},field_0,_SEARCH:cms_catalogues:__edit_entry:{ID},1}{FIELD_0}{+END}{+START,IF_NON_EMPTY,{VIEW_URL}}</a>{+END}
</li>
