<div class="box box---cns-forum-intro-question-popup"><div class="box-inner">
	{QUESTION}
</div></div>

{+START,IF_NON_EMPTY,{ANSWER}}
	<div class="cns-intro-question-answer-box"><p>{!ENTER_FORUM_TO_ANSWER}</p></div>
{+END}
