<ul class="meta-details-list">
	<li>{DATE*}</li>
	<li>{!TOPIC_IN} <a title="{TOPIC_TITLE*}, {!FORUM_TOPIC} #{ID*}" href="{TOPIC_URL*}">{$TRUNCATE_LEFT,{TOPIC_TITLE},33,0}</a></li>
	<li>{!POST_BY,{POSTER}}</li>
</ul>
