<a href="{PROFILE_URL*}" data-cms-tooltip="{ contents: '{POSTER_DETAILS;^*}', triggers: 'hover focus', delay: 0, img: '{$IMG;*,icons/menu/social/members}' {+START,IF,{$NOT,{ONLINE}}}, dimImg: true{+END} }" class="fancy-user-link">{+START,IF_PASSED_AND_TRUE,HIGHLIGHT_NAME}<span class="cns-highlighted-name">{+END}{$DISPLAYED_USERNAME*,{POSTER_USERNAME}}{+START,IF_PASSED_AND_TRUE,HIGHLIGHT_NAME}</span>{+END}</a>
