<div class="clearfix">
	<div class="cns-avatar-page-old-avatar">
		{AVATAR}
	</div>
	<div class="cns-avatar-page-text">
		<p>{!AVATAR_CHANGE,{WIDTH*},{HEIGHT*},{$DISPLAYED_USERNAME*,{USERNAME}}}</p>
	</div>
</div>
