<div class="cns-rank-image"><img {+START,IF_PASSED,USERNAME} title="{+START,IF,{IS_LEADER}}{!cns:MEMBER_LEADS_GROUP,{$DISPLAYED_USERNAME*,{USERNAME}},{GROUP_NAME*}}{+END}{+START,IF,{$NOT,{IS_LEADER}}}{!cns:MEMBER_IS_IN_GROUP,{$DISPLAYED_USERNAME*,{USERNAME}},{GROUP_NAME*}}{+END}" alt="{+START,IF,{IS_LEADER}}{!cns:MEMBER_LEADS_GROUP,{$DISPLAYED_USERNAME*,{USERNAME}},{GROUP_NAME*}}{+END}{+START,IF,{$NOT,{IS_LEADER}}}{!cns:MEMBER_IS_IN_GROUP,{$DISPLAYED_USERNAME*,{USERNAME}},{GROUP_NAME*}}{+END}"{+END}{+START,IF_NON_PASSED,USERNAME} alt="{GROUP_NAME*}"{+END} src="{$IMG*,{IMG},1,,1}" /></div>
