{TITLE}

{+START,INCLUDE,HANDLE_CONFLICT_RESOLUTION}{+END}
{+START,IF_PASSED,WARNING_DETAILS}
	{WARNING_DETAILS}
{+END}

<p>
	{!ECOM_PRODUCTS_PRICE_PAGE_TEXT}
</p>

<p>
	{!EDIT_ECOMMERCE_CONFIG,{$PAGE_LINK*,_SEARCH:admin_config:category:ECOMMERCE_PRODUCTS}}
</p>

{+START,IF_NON_EMPTY,{EDIT_FORM}}
	{+START,INCLUDE,FORM_SCREEN_ARE_REQUIRED}{+END}
{+END}

<h2>{!EDIT}</h2>

{+START,IF_NON_EMPTY,{EDIT_FORM}}
	<p>
		{!THESE_PRODUCTS_DEFINED}
	</p>

	<div class="form-set-indent">
		{EDIT_FORM}
	</div>
{+END}
{+START,IF_EMPTY,{EDIT_FORM}}
	<p class="nothing-here">{!NO_EXTENDABLE_PRODUCTS_ENABLED}</p>
{+END}

{+START,IF_NON_EMPTY,{ADD_FORMS}}
	<h2>{!ADD}</h2>

	<p>{!ADD_ONE_AT_A_TIME}</p>

	<div class="form-set-indent">
		{ADD_FORMS}
	</div>
{+END}
