<span class="constrain-field">
	<input {+START,IF_PASSED,AUTOCOMPLETE} autocomplete="{AUTOCOMPLETE*}"{+END} size="{$?,{$MOBILE},27,40}" tabindex="{TABINDEX*}" class="form-control input-email{REQUIRED*}" maxlength="255" type="email" id="{NAME*}" name="{NAME*}" value="{DEFAULT*}" />
</span>
