<li class="actions-list-strong">
	{+START,INCLUDE,ICON}NAME=buttons/proceed2{+END} <a {+START,IF_PASSED,TARGET} target="{TARGET*}"{+END} href="{URL*}">{NAME*}</a>{+START,IF_PASSED,DISPLAY_STRING} {DISPLAY_STRING*}{+END}
</li>
