<a rel="next{+START,IF_PASSED_AND_TRUE,NOFOLLOW}nofollow {+END}{+START,IF_PASSED,REL} {REL*}{+END}" accesskey="k" href="{URL*}" target="_self" title="{!NEXT}&nbsp;&raquo;: {!RESULTS_LAUNCHER_JUMP,{P*}/{NUM_PAGES*},{TITLE*}}" class="light results-continue">{+START,IF,{$DESKTOP}}<span class="inline-desktop">{!NEXT}&nbsp;</span>{+END}&raquo;</a>
