<div class="poll-answer">
	<div>{+START,FRACTIONAL_EDITABLE,{ANSWER_PLAIN},option{I},_SEARCH:cms_polls:__edit:{PID},1}{ANSWER}{+END} &ndash; <span class="associated-details">{!VOTES,{VOTES*}}</span></div>
	<div class="poll-answer-bar" style="width: calc(20px + {WIDTH*}%)"></div>
</div>
