<th class="{+START,IF_PASSED,SORTABLE_TYPE} table-sortable:{SORTABLE_TYPE*}{+END}{+START,IF_PASSED_AND_TRUE,SEARCHABLE} table-searchable table-searchable-with-substrings{+END}{+START,IF_PASSED_AND_TRUE,FILTERABLE} table-filterable{+END}"{+START,IF_PASSED,COLSPAN} colspan="{COLSPAN*}"{+END}>
	<span>{VALUE*}</span>
</th>
