<form title="{!CHOOSE}" action="#" method="post">
	{$INSERT_FORM_POST_SECURITY}

	<div><label for="del_{ID*}" class="accessibility-hidden">{!CHOOSE}:</label> <input id="del_{ID*}" name="del_{ID*}" type="checkbox" value="1" /></div>
</form>
