<div class="search-option clearfix">
	<label for="sd_{NAME*}">{DISPLAY*}:</label>
	<select size="10" multiple="multiple" id="sd_{NAME*}" name="{NAME*}[]" class="form-control">{SPECIAL}</select>
</div>
