<tr class="form-table-field-spacer search-form-screen-domains">
	<th colspan="3" class="table-heading-cell vertical-alignment">
		<span class="h2">{!SEARCH_DOMAIN}</span>
	</th>
</tr>
{SEARCH_DOMAINS}
