<div class="search-option clearfix">
	<label for="sd_{NAME*}">{DISPLAY*}:</label>
	<input type="checkbox" id="sd_{NAME*}" name="{NAME*}" value="1"{+START,IF_NON_EMPTY,{SPECIAL}} checked="checked"{+END} />
</div>
