<div class="search-option clearfix">
	<label for="sd_{NAME*}">{DISPLAY*}:</label>
	<div>
		<input maxlength="255" class="form-control form-control-wide search-option-value" type="text" id="sd_{NAME*}" name="{NAME*}" value="{SPECIAL*}" />
	</div>
</div>
