<div class="search-option clearfix">
	<label for="sd_{NAME*}">{DISPLAY*}:</label>
	<input type="checkbox"{+START,IF,{CHECKED}} checked="checked"{+END} id="sd_{NAME*}" name="{NAME*}" value="1" />
</div>
